<div class="alert alert-success" role="alert">
	<svg class="icon icon-lg icon-tick-circle"><use xlink:href="#icon-tick-circle"></use></svg>
	<p>Well done! You successfully read this important alert message.</p>
</div>

<br>

<div class="alert alert-info" role="alert">
	<svg class="icon icon-lg icon-info-circle"><use xlink:href="#icon-info-circle"></use></svg>
	<p>Heads up! This alert needs your attention, but it's not super important.</p>
</div>

<br>

<div class="alert alert-warning" role="alert">
	<svg class="icon icon-lg icon-help-circle"><use xlink:href="#icon-help-circle"></use></svg>
	<p>Warning! Better check yourself, you're not looking too good.</p>
</div>

<br>

<div class="alert alert-danger" role="alert">
	<svg class="icon icon-lg icon-cross-circle"><use xlink:href="#icon-cross-circle"></use></svg>
	<p>Oh snap! Change a few things up and try submitting again.</p>
</div>