<section class="unit size4of6 manage-template">

  <div class="actions">
    <button class="btn btn-lg btn-light" type="button">Cancel</button>
    <button class="btn btn-lg btn-primary" type="button">Save</button>
  </div>

  <h1 class="manage-title">Brick - Manage elements</h1>
  <p class="manage-intro">Order or remove elements from template</p>

  <ul class="nav nav-tabs simple-tabs">
    <li>Sort by</li>
    <li role="presentation" class="active"><a href="tab1" role="tab" data-toggle="tab">Custom order</a></li>
    <li role="presentation"><a href="tab2" role="tab" data-toggle="tab">Most Recent</a></li>
    <li role="presentation"><a href="tab3" role="tab" data-toggle="tab">Less Recent</a></li>
    <li role="presentation"><a href="tab3" role="tab" data-toggle="tab">Most Popular</a></li>
    <li role="presentation"><a href="tab3" role="tab" data-toggle="tab">By Username</a></li>
  </ul>

  <ul class="unstyled grid-list">
    <li>
      <!-- @include _result-manage -->
    </li>
    <li>
      <!-- @include _result-manage -->
    </li>
    <li>
      <!-- @include _result-manage -->
    </li>
    <li>
      <!-- @include _result-manage -->
    </li>
    <li>
      <!-- @include _result-manage -->
    </li>
  </ul>
</section>