<aside class="customize-menu">	

	<div class="form-horizontal">

		<fieldset class="fieldset">
			<h3 class="fieldset-title">Edit</h3>

			<div class="control-group control-group-sm group-switch">
				<label class="control-label">Insert text</label>
				<input type="checkbox" class="toggle-switch" />
			</div>
			<div class="control-group control-group-sm group-switch">
				<label class="control-label">Drag mode</label>
				<input type="checkbox" class="toggle-switch" />
			</div>	
		</fieldset>

		<fieldset class="fieldset">
			<h3 class="fieldset-title">Options</h3>
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Title</label>
				<div class="controls toggle-visibility">
					<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
				</div>
			</div><!-- controls -->
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Description</label>
				<div class="controls toggle-visibility">
					<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
				</div>
			</div><!-- controls -->
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Metadata</label>
				<div class="controls toggle-visibility">
					<div class="control-toggle">
						<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					</div>
					<div class="control-toggle">
						<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
					</div>
				</div>
			</div><!-- controls -->
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Contribution</label>
				<div class="controls toggle-visibility">
					<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
				</div>
			</div><!-- controls -->
		</fieldset>

		<fieldset class="fieldset fieldset-lg">
            <h3 class="fieldset-title">Extra features</h3>
            <div class="half-fieldset">
                <div class="control-group control-group-sm">
                    <label class="control-label" for="text">Custom logo</label>
                    <input type="checkbox" style="display: none" class="ppo_feature" checked="checked" id="white_label_feature" data-product="WLB">
                    <div class="controls picker">
                        <button type="button" class="btn btn-sm btn-default" id="WLB" data-toggle="modal" data-target="#white-label">Upload file</button>
                    </div>
                </div>

                <div class="control-group control-group-sm">
                    <label class="control-label" for="text">Analytics</label>
                    <input type="checkbox" style="display: none" class="ppo_feature" checked="checked" id="enable_analytics_feature" data-product="CGA">
                    <div class="controls">
                        <input type="text" id="analytics_code" class="control control-lg" placeholder="Analytics Code" name="analytics_code" value="">
                    </div>
            	</div>
            </div>
        </fieldset>

		<fieldset class="fieldset fieldset-lg">

		<h3 class="fieldset-title">Styles <a href="#" class="btn btn-xs btn-link">Reset</a></h3>

			<div class="half-fieldset">

				<div class="control-group control-group-sm group-style-alignment">
					<label class="control-label">Text Align</label>
					<ul class="unstyled btn-group">
						<li class="active"><a href="#" class="alignment-style"><svg class="icon icon-sm icon-alignleft"><use xlink:href="#icon-alignleft"></use></svg></a></li>
						<li><a href="#" class="alignment-style"><svg class="icon icon-sm icon-aligncenter"><use xlink:href="#icon-aligncenter"></use></svg></a></li>
						<li><a href="#" class="alignment-style"><svg class="icon icon-sm icon-alignright"><use xlink:href="#icon-alignright"></use></svg></a></li>
					</ul>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" >Title Font</label>
					<div class="custom-select-style controls">
						<svg class="icon icon-sm icon-dropdown"><use xlink:href="#icon-dropdown"></use></svg>
						<select class="control">
						  <option>Klavika</option>
						  <option>Helvetica Neue</option>
						  <option>Georgia</option>
						</select>
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="font">Text Font</label>
					<div class="custom-select-style controls">
						<svg class="icon icon-sm icon-dropdown"><use xlink:href="#icon-dropdown"></use></svg>
						<select class="control">
							<option>Roboto</option>
							<option>Helvetica Neue</option>
							<option>Georgia</option>
						</select>
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Title color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

			</div>

			<div class="half-fieldset">

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Text color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Background</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Element color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Border color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>
			</div>

		</fieldset>

	</div>

</aside>