<aside class="publish-menu">	

  <div class="fieldset">
    <h3 class="fieldset-title">Promote</h3>
    <div class="control-group">
      <button class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#modal-promote">Notify contributors</button>
    </div>
  </div>

  <div class="fieldset">
    <h3 class="fieldset-title">Share</h3>
     <div class="control-group">
       <ul class="unstyled share-vertical-list">
         <li>
           <a href="#" class="btn btn-xl btn-icon"><svg class="icon icon-xl icon-facebook-circle"><use xlink:href="#icon-facebook-circle"></use></svg>Facebook</a>
         </li>
         <li>
           <a href="#" class="btn btn-xl btn-icon"><svg class="icon icon-xl icon-twitter-circle"><use xlink:href="#icon-twitter-circle"></use></svg>Twitter</a>
         </li>
         <li>
           <a href="#" class="btn btn-xl btn-icon"><svg class="icon icon-xl icon-googleplus-circle"><use xlink:href="#icon-googleplus-circle"></use></svg>Googleplus</a>
         </li>
         <li>
           <a href="#" class="btn btn-xl btn-icon"><svg class="icon icon-xl icon-email-circle"><use xlink:href="#icon-mail-circle"></use></svg>Send Email</a>
         </li>
       </ul>
     </div>   
  </div>

  <div class="fieldset">
    <h3 class="fieldset-title">Embed code</h3>
    <div class="control-group">
      <div class="controls">
        <textarea class="control control-lg control-embed-code" rows="8">code example here</textarea>
      </div>
      <div class="controls">
        <a href="#" class="btn btn-link btn-clipboard">
          <span>Copy to clipboard</span>
          <svg class="icon icon-sm icon-clipboard"><use xlink:href="#icon-clipboard"></use></svg>
        </a>
      </div>
    </div>
  </div>

  <div class="fieldset">
    <h3 class="fieldset-title">Story url</h3>
    <div class="control-group">
      <div class="controls">
        <textarea class="control control-sm control-url" rows="2">http://www.seejay.co/zetareticoli/wudrome2014</textarea>
      </div>
      <div class="controls">
        <a href="#" class="btn btn-link btn-clipboard">
          <span>Copy to clipboard</span>
          <svg class="icon icon-sm icon-clipboard"><use xlink:href="#icon-clipboard"></use></svg>
        </a>
      </div>
    </div>
  </div>
  
</aside>