<aside class="customize-menu">	

	<div class="form-horizontal">

		<fieldset class="fieldset">
			<h3 class="fieldset-title">Edit</h3>

			<div class="control-group control-group-sm group-switch">
				<label class="control-label">Insert text</label>
				<input type="checkbox" class="toggle-switch" />
			</div>
			<div class="control-group control-group-sm group-switch">
				<label class="control-label">Drag mode</label>
				<input type="checkbox" class="toggle-switch" />
			</div>	
		</fieldset>

		<fieldset class="fieldset">
			<h3 class="fieldset-title">Options</h3>
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Title</label>
				<div class="controls toggle-visibility">
					<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
				</div>
			</div><!-- controls -->
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Description</label>
				<div class="controls toggle-visibility">
					<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
				</div>
			</div><!-- controls -->
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Metadata</label>
				<div class="controls toggle-visibility">
					<div class="control-toggle">
						<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					</div>
					<div class="control-toggle">
						<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
					</div>
				</div>
			</div><!-- controls -->
			<div class="control-group control-group-sm group-options">
				<label class="control-label" for="text">Contribution</label>
				<div class="controls toggle-visibility">
					<svg class="icon icon-sm icon-eye"><use xlink:href="#icon-eye"></use></svg>
					<svg class="icon icon-sm icon-eye-blocked"><use xlink:href="#icon-eye-blocked"></use></svg>
				</div>
			</div><!-- controls -->
		</fieldset>

		<fieldset class="fieldset fieldset-lg">

		<h3 class="fieldset-title">Styles</h3>

			<div class="half-fieldset">

				<div class="control-group control-group-sm group-style-alignment">
					<label class="control-label">Text Align</label>
					<ul class="unstyled btn-group">
						<li class="active"><a href="#" class="alignment-style"><svg class="icon icon-sm icon-alignleft"><use xlink:href="#icon-alignleft"></use></svg></a></li>
						<li><a href="#" class="alignment-style"><svg class="icon icon-sm icon-aligncenter"><use xlink:href="#icon3"></use></svg></a></li>
						<li><a href="#" class="alignment-style"><svg class="icon icon-sm icon-alignright"><use xlink:href="#icon4"></use></svg></a></li>
					</ul>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" >Title Font</label>
					<div class="custom-select-style controls">
						<select class="control">
						  <option>Klavika</option>
						  <option>Helvetica Neue</option>
						  <option>Georgia</option>
						</select>
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="font">Text Font</label>
					<div class="custom-select-style controls">
						<select class="control">
							<option>Roboto</option>
							<option>Helvetica Neue</option>
							<option>Georgia</option>
						</select>
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Title color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

			</div>

			<div class="half-fieldset">

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Text color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Background</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Element color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>

				<div class="control-group control-group-sm">
					<label class="control-label" for="text">Border color</label>
					<div class="controls">
						<input type="text" id="text" name="text" placeholder="#HEX code" class="control control-lg">
					</div>
				</div>
			</div>

			<div class="fieldset-xl">

				<div class="control-group form-actions">
					<div class="controls">
						<button class="btn btn-primary btn-sm">Save</button>
					</div>
					<div class="controls">
						<button class="btn btn-sm btn-light">Reset Styles</button>
					</div>
				</div>

			</div>

		</fieldset>

	</div>

</aside>