<div class="modal modal-promote fade in">
  <button type="button" class="btn btn-iconized btn-close" data-dismiss="modal">
    <svg class="icon icon-lg icon-cross-circle"><use xlink:href="#icon-cross-circle"></use></svg>
  </button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Promote your story</h4>
        <ul class="nav nav-tabs simple-tabs">
          <li role="presentation" class="active"><a href="tab1" role="tab" data-toggle="tab">Send a tweet</a></li>
          <li role="presentation"><a href="tab2" role="tab" data-toggle="tab">Email</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <p>Select the users you want to get notified:</p>
        <ul class="unstyled avatars-list">
          <li class="avatar-item selected">
            <svg class="icon icon-xs icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
            <svg class="icon icon-xs icon-close"><use xlink:href="#icon-close"></use></svg>
            <img src="<!-- @path avatar.png -->" data-toggle="tooltip" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
          </li>
          <li class="avatar-item">
            <svg class="icon icon-xs icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
            <svg class="icon icon-xs icon-close"><use xlink:href="#icon-close"></use></svg>
            <img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
          </li>
          <li class="avatar-item">
            <svg class="icon icon-xs icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
            <svg class="icon icon-xs icon-close"><use xlink:href="#icon-close"></use></svg>
            <img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
          </li>
          <li class="avatar-item">
            <svg class="icon icon-xs icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
            <svg class="icon icon-xs icon-close"><use xlink:href="#icon-close"></use></svg>
            <img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
          </li>
          <li class="avatar-item">
            <svg class="icon icon-xs icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
            <svg class="icon icon-xs icon-close"><use xlink:href="#icon-close"></use></svg>
            <img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
          </li>
        </ul>

        <p>Write a tweet message for those users:</p>
        <form class="form-inline" role="form">

          <div class="control-group">
            <div class="controls">
              <textarea class="control control-lg" rows="3" placeholder="Enter a text"></textarea>
            </div><!-- controls -->
          </div><!-- control-group -->
          
          <div class="control-group">
            <div class="controls">
              <span class="chrs-counter">35</span>
              <button class="btn btn-primary btn-lg">Send</button>
            </div><!-- controls -->
          </div><!-- control-group -->

        </form><!-- form-inline -->

      </div>
    </div>
  </div>
</div>