<div class="story">

  <!-- Story Head -->
  <div class="story-head">

    <div class="line">

      <div class="unit size4of6">
        <!-- Title & Description -->
        <h1 class="story-title">A beautiful story</h1>
        <h2 class="story-description">Social tweet wall from the awesome conference about technology and internet.</h2>

        <!-- Metadata -->
        <div class="metadata">
          <div class="author">
            <img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
            <span class="author-name">John Doe</span>
            <span class="date">14 nov 2014</span>
          </div>
          <div class="counter">
            <span class="number">200</span>
            <small class="label">contributions</small>
          </div>
          <ul class="unstyled avatars-list">
            <li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm"></li>
            <li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm"></li>
            <li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm"></li>
            <li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm"></li>
            <li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm"></li>
            <li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm"></li>
          </ul>
          <a href="#" class="btn btn-share">
            <svg class="icon icon-lg icon-share"><use xlink:href="#icon-share"></use></svg>
          </a>
        </div>  
      </div>

      <div class="unit size2of6 story-share">
        <ul class="unstyled share-horizontal-list">
          <li class="label">Share:</li>
          <li>
            <a href="#"><svg class="icon icon-xl icon-facebook-circle"><use xlink:href="#icon-facebook-circle"></use></svg></a>
          </li>
          <li>
            <a href="#"><svg class="icon icon-xl icon-twitter-circle"><use xlink:href="#icon-twitter-circle"></use></svg></a>
          </li>
          <li>
            <a href="#"><svg class="icon icon-xl icon-googleplus-circle"><use xlink:href="#icon-googleplus-circle"></use></svg></a>
          </li>
          <li>
            <a href="#"><svg class="icon icon-xl icon-mail-circle"><use xlink:href="#icon-mail-circle"></use></svg></a>
          </li>
          <li class="label">Embed:</li>
          <li class="circle">
            <a href="#"><svg class="icon icon-lg icon-code"><use xlink:href="#icon-code"></use></svg></a>
          </li>        
        </ul>
      </div>

    </div>
          
  </div>

  <!-- Story Content -->
  <div class="story-content">

    <div class="content-section">
      <!-- @include _template-gallery -->
    </div>

    <div class="content-section section-masonry js-masonry">
      <!-- @include _template-brick-text -->
      <!-- @include _template-brick-media -->
      <!-- @include _template-brick-text -->
      <!-- @include _template-brick-media -->
      <!-- @include _template-brick-text -->
      <!-- @include _template-brick-media -->
      <!-- @include _template-brick-text -->
      <!-- @include _template-brick-media -->
      <!-- @include _template-brick-text -->
      <!-- @include _template-brick-media -->
    </div>

    <div class="content-section">
      <!-- @include _template-timeline -->
    </div>

    <div class="content-section">
      <!-- @include _template-single -->
    </div>
  </div>

  <div class="story-contribute">
    <h4>Want to contribute to this story?</h4>
    <a href="#" class="btn btn-lg btn-primary btn-light "><svg class="icon icon-sm icon-contribute"><use xlink:href="#icon-contribute"></use></svg>Send your contribution</a>
  </div>

</div>