<article class="story-item">
	<div class="story-item-content">
		<header class="story-item-head">
			<time datetime="2014-11-25" class="time">25 nov 2014</time>
			<h2 class="story-item-title">WudRome 2014</h2>
		</header>
		<footer class="story-item-foot">
			<div class="story-contributions-counter">
				<svg class="icon icon-sm icon-contribute"><use xlink:href="#icon-contribute"></use></svg>0
			</div>
			<div class="story-actions">
				<a href="#" class="story-settings open-settings" data-menu="menu1">
					<svg class="icon icon-sm icon-cog"><use xlink:href="#icon-cog"></use></svg>
				</a>
			</div>
		</footer>
	</div>
	<ul class="story-settings-menu animation-slidedown" data-menu="menu1">
		<li class="setting-menu-option">
			<a href="#"><svg class="icon icon-sm icon-search"><use xlink:href="#icon-search"></use></svg>Search & Curate</a>
		</li>
		<li class="setting-menu-option">
			<a href="#"><svg class="icon icon-sm icon-equalizer"><use xlink:href="#icon-equalizer"></use></svg>Customize</a>
		</li>
		<li class="setting-menu-option">
			<a href="#"><svg class="icon icon-sm icon-camera"><use xlink:href="#icon-camera"></use></svg>Change cover</a>
		</li>
		<li class="setting-menu-option">
			<a href="#"><svg class="icon icon-sm icon-remove"><use xlink:href="#icon-remove"></use></svg>Delete</a>
		</li>
		<a href="#" class="btn-close close-settings" data-menu="menu1"><svg class="icon icon-xs icon-close"><use xlink:href="#icon-close"></use></svg></a>
	</ul>
</article>