<div class="story">

	<!-- Story Head -->
	<div class="story-head">

		<!-- Title & Description -->
		<h1 class="story-title">A beautiful story</h1>
		<h2 class="story-description">Social tweet wall from the awesome conference about technology and internet.</h2>

		<!-- Metadata -->
		<div class="metadata">
			<div class="author">
				<img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
				<span class="author-name">John Doe</span>
				<span class="date">14 nov 2014</span>
			</div>
			<div class="counter">
				<span class="number">200</span>
				<small class="label">contributions</small>
			</div>
			<ul class="unstyled avatars-list">
				<li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-xs"></li>
				<li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-xs"></li>
				<li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-xs"></li>
				<li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-xs"></li>
				<li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-xs"></li>
				<li><img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-xs"></li>
			</ul>
		</div>						
	</div>

	<!-- Story Content -->
	<div class="story-content">

		<div class="content-section">
			<!-- @include _template-gallery -->
		</div>

		<div class="content-section section-masonry js-masonry">
			<!-- @include _template-brick-text -->
			<!-- @include _template-brick-media -->
			<!-- @include _template-brick-text -->
			<!-- @include _template-brick-media -->
			<!-- @include _template-brick-text -->
			<!-- @include _template-brick-media -->
			<!-- @include _template-brick-text -->
			<!-- @include _template-brick-media -->
			<!-- @include _template-brick-text -->
			<!-- @include _template-brick-media -->
		</div>

		<div class="content-section">
			<!-- @include _template-timeline -->
		</div>

		<div class="content-section">
			<!-- @include _template-single -->
		</div>
	</div>
</div>