<article class="brick template-gallery">

	<div class="royalSlider gallery-slider">

            <!-- Slide 1 -->
	
      	<div class="rsContent">
			<img class="rsImg" src="<!-- @path brick-img-2.jpg -->" alt="Brick Image" title="Interstellar"/>
			<div class="rsCaption">
                        <header class="brick-head">
                  		<div class="brick-author">
                  			<img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
                  			<span class="author-name">John Doe</span>
                  			<span class="author-username">@doejohn</span>
                  		</div>
                  	</header>
                  	<div class="brick-content">
                  		<p class="brick-text">Saw #interstellar last night. I love seeing grand epic films in imax. So immersive. Film was pretty solid. Not a must see tho. I don't feel like Nolan did much that many science fiction films dealing in similar depths haven't done with a few exceptions.</p>
                  	</div>
                  	<footer class="brick-foot">
                  		<svg class="icon icon-googleplus"><use xlink:href="#icon-googleplus"></use></svg>
                  		<time datetime="2014-11-25" class="time">25 nov 2014 - 14:40</time>
                  		<ul class="brick-stats">
                  			<li>
                  				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                  				<span class="number">5</span>
                  			</li>
                  		</ul>
                  	</footer>
			</div>
		</div>

            <!-- Slide 2 -->

		<div class="rsContent">
			<img class="rsImg" src="<!-- @path brick-img.jpg -->" alt="Brick Image" title="Interstellar"/>
			<div class="rsCaption">
      	            <header class="brick-head">
                  		<div class="brick-author">
                  			<img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
                  			<span class="author-name">John Doe</span>
                  			<span class="author-username">@doejohn</span>
                  		</div>
                  	</header>
                  	<div class="brick-content">
                  		<p class="brick-text">#me in Rome talking about #usability #wudrome2014</p>
                  	</div>
                  	<footer class="brick-foot">
                  		<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
                  		<time datetime="2014-11-25" class="time">25 nov 2014 - 14:40</time>
                  		<ul class="brick-stats">
                  			<li>
                  				<svg class="icon icon-thumbs-up"><use xlink:href="#icon-thumbs-up"></use></svg>
                  				<span class="number">5</span>
                  			</li>
                  		</ul>
                  	</footer>
			</div>
		</div>

            <!-- Slide 3 -->

		<div class="rsContent">
			<img class="rsImg" src="<!-- @path brick-img-2.jpg -->" alt="Brick Image" title="Interstellar"/>
			<div class="rsCaption">
      	            <header class="brick-head">
                  		<div class="brick-author">
                  			<img src="<!-- @path avatar.png -->" alt="Avatar" title="Profile Avatar" class="avatar avatar-sm">
                  			<span class="author-name">John Doe</span>
                  			<span class="author-username">@doejohn</span>
                  		</div>
                  	</header>
                  	<div class="brick-content">
                  		<p class="brick-text">Saw #interstellar last night. I love seeing grand epic films in imax. So immersive. Film was pretty solid. Not a must see tho. I don't feel like Nolan did much that many science fiction films dealing in similar depths haven't done with a few exceptions.</p>
                  	</div>
                  	<footer class="brick-foot">
                  		<svg class="icon icon-googleplus"><use xlink:href="#icon-googleplus"></use></svg>
                  		<time datetime="2014-11-25" class="time">25 nov 2014 - 14:40</time>
                  		<ul class="brick-stats">
                  			<li>
                  				<svg class="icon icon-xs icon-star"><use xlink:href="#icon-star"></use></svg>
                  				<span class="number">5</span>
                  			</li>
                  		</ul>
                  	</footer>
			</div>
		</div>

	</div>

</article>