// template brick ================================================

.template-brick,
.template-single {
	border: 1px solid $earlygray;

	.brick-head,
	.brick-foot {
		padding: 20px;
	}

	.brick-text {
		padding: 20px 20px 0;
	}

	.brick-text {
		@include font-size(18);
	}

	.author-name {
		@include font-size($smallfontsize);
	}

	.brick-stats {
		right: 20px;
		bottom: 20px;
	}
}

// template gallery ================================================

.template-gallery {
	background-color: $black;
	width: 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	.royalSlider {
		width: 100%;
	}

	.royalSlider,
	.rsVisibleNearbyWrap {
		min-height: 320px;
	}

	.rsSlide .rsImg {
		display: block;
		margin: 0 auto;
	    opacity: 0.2;
	    border-top-right-radius: 6px;
	    border-top-left-radius: 6px;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;

	    @include bp(m) {
	    	border-top-right-radius: 0;
	    	border-top-left-radius: 0;
	    }
	}

	.rsActiveSlide .rsImg  {
	    opacity: 1;
	}

	.rsGCaption {
		margin-top: -1px;
		text-align: left;
	}

	.rsCaption {
		background-color: rgb(44,40,41);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		opacity: 1;
		padding: 4%;

		@include bp(m) {
			padding: 2%;
		}

		.brick-head {
			@include clearfix;
		}


		.author-name,
		.brick-text {
			color: white;
		}

		.avatar,
		.author-name,
		.author-username {
			display: inline-block;
			margin-right: 5px;
		}

		.avatar {
			float: none;
		}

		.brick-text {
			padding: 5px 0 0;
		}

		.brick-foot {
			padding: 20px 0 0;
		}

		.brick-foot > .icon {
			fill: white;
			height: 12px;
			top: 2px;
			width: 12px;

			@include bp(l) {
				height: 24px;
				top: 8px;
				width: 24px;
			}
		}

		.brick-stats {
			bottom: 0;
			right: 0;

			.icon {
				height: 12px;
				top: 2px;
				width: 12px;

				@include bp(l) {
					height: 16px;
					top: 3px;
					width: 16px;
				}
			}
		}

		.time,
		.number {
			@include font-size(11);
		}

		@include bp(l) {

			.brick-head,
			.brick-content {
				float: left;
			}

			.brick-head {
				width: 25%;
			}

			.brick-content {
				width: 50%;
			}

			.brick-foot {
				clear: left;
			}
		};
	}

	.rsArrowIcn {
		background: $black;
		height: 32px;
		width: 32px;
		opacity: .75;
		@include rounded(6px);
		padding: 10px;
		position: absolute;
		top: 50%;
		@include transition(opacity .15s ease);
		z-index: 999;

		@include bp(m) {
			height: 24px;
			padding: 0;
			top: 50%;
			width: 24px;
			@include rounded(0);
		}

		&:hover {
			opacity: 1;
		}

		&:active {
			opacity: 1;
			top: 50.2%;
		}
	}

	.rsArrowLeft .rsArrowIcn {
		background: $black url(icon-arrow-left-white.svg) 48% 48% no-repeat;
		left: 6%;

		@include bp(m) {
			background-color: transparent;
		}
	}

	.rsArrowRight .rsArrowIcn {
		background: $black url(icon-arrow-right-white.svg) 48% 48% no-repeat;
		right: 6%;
		@include bp(m) {
			background-color: transparent;
		}
	}
}

// template result ================================================

.result-brick {
	border: none;
	float: left;
	margin: 10px;
	width: 200px;
	min-height: 262px;
	@include transition(all .15s ease);

	&:hover {
		background: darken(white,2.5%);
		cursor: pointer;
		@include box-shadow(inset 0 -2px 0 $lightgray);
	}

	.brick-author,
	.brick-foot {
		padding: 12px 10px;
	}

	.brick-content {
		border-top: 1px solid $earlygray;

		.brick-media {
			background-color: $black;
		}

		.brick-text {
			@include font-size($smallfontsize);
			max-height: 220px;
			padding: 12px 10px;
		}
	}	
	.brick-stats {
		right: 10px;
		bottom: 12px;
	}
}

.result-added {
	border: 2px solid $red;

	.feedback-message {
		background: white;
		color: $lightgray;
		@include font-size($smallerfontsize);
		padding: 12px 0;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		text-align: center;
		width: 100%;
		position: relative;
		z-index: 1;

		.icon {
			fill: $lightgray;
		}
	}

	.btn-add {
		opacity: 0;
		display: none;
		z-index: 0;
		position: relative;
	}
}

// template single ================================================

.template-single {
	@include clearfix;

	.brick-head {
		padding-bottom: 0;
	}

	.brick-author {
		height: 60px;
	}

	.brick-media {

		img {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			width: 100%;
			@include bp(l) {
				border-bottom-left-radius: 6px;
				border-top-right-radius: 0;
			}
		}

		@include bp(l) {
			float: left;
			margin-right: 40px;
			max-width: 500px;
		}
	}

	.brick-stats .number {
		@include font-size($smallerfontsize);
	}

	.time {
		@include font-size($smallerfontsize);
	}

	@include bp(l) {

		.brick-text {
			@include font-size(18);
			padding-left: 0;
		}

		.brick-foot .icon-xs {
			width: 16px;
			height: 16px;
		}
	}

	@include max-bp(l) {
		max-width: 500px;
		margin: 0 auto;	
	}
}

// template timeline ================================================
