.container-fixed {
	margin: 0 auto;
	max-width: 1400px;
}

.line {
	@include clearfix;
	overflow: hidden;
	width: 100%;

}

.unit {
	float: left;
	margin-bottom: $gutterwidth / 2;

	@include bp(l) {
		margin-bottom: $gutterwidth;
	}

	overflow: hidden;
	padding: 0 $gutterwidth / 2;
}

// global columns

.size1of1,
.size1of2,
.size2of4,
.size1of3,
.size1of4,
.size1of6,
.size2of6,
.size4of6,
.size5of6 {
	width: 100%;
}

// tablet

@include bp(m) {

	.size1of2,
	.size1of4 {
		width: 50%;
	}

	.size2of4 {
		width: 80%;
	}

	.size2of6 {
		width: 33.33%;
	}

	.size4of6 {
		width: 66.668%;
	}

}

// small desktop columns

@include bp(l) {

	.size1of4 {
		width: 33.33%;
	}

	.size2of4 {
		width: 60%;
		max-width: 700px;
	}

	.size1of6 {
		min-width: 240px;
		width: 16.66%;
	}

	.size5of6 {
		width: 76.56%;
	}

}

// large desktop columns

@include bp(xl) {

	.size1of4 {
		width: 25%;
	}

}

// xlarge desktop columns

@include bp(xxl) {

	.size5of6 {
		width: 81.53%;
	}
}

.alignc {
	float: none;
	margin: auto;
}