.modal-open {
	overflow: hidden;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	-webkit-overflow-scrolling: touch;
	outline: 0;

  &.in {
  	background-color: $darkoverlay;
	display: block;
  }
}

.modal.fade .modal-dialog {
	opacity: 0;
	-webkit-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	-o-transform: translate(0, -100%);
	transform: translate(0, -100%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity .3s linear;;
	-o-transition: -o-transform 0.3s ease, opacity .3s linear;;
	transition: transform 0.3s ease, opacity .3s linear;
}

.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transform: translate(0, 15%);
	-ms-transform: translate(0, 15%);
	-o-transform: translate(0, 15%);
	transform: translate(0, 15%);
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-content {
	position: relative;
	background-color: white;
	margin: 40px auto;
	@include rounded(6px);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
	width: 700px;

	p {
		@include font-size($smallfontsize);
		margin-bottom: 10px;
	}
}

.modal-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #000000;
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}

.modal-backdrop.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.modal-header {
	padding: 40px 15px;
	border-bottom: 1px solid $earlygray;
	min-height: 16.42857143px;
}

.modal .btn-close {
	background-color: transparent;
	position: absolute;
	right: 0px;
	top: -40px;
}

.modal-title {
	@include font-size(36);
	font-weight: 300;
	margin: 0;
	line-height: 1.42857143;
	text-align: center;
}

.modal-body {
	background-color: lighten($earlygray, 5%);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	position: relative;
	padding: 15px 40px 40px;

	form {
		width: 100%;
	}
}

.modal-footer {
	background-color: lighten($earlygray, 5%);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 0 40px 40px;
	text-align: right;
}

.modal-footer .btn + .btn {
	margin-left: 5px;
	margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

// templates

.modal-promote {

	.modal-header {
		padding-bottom: 0;
		text-align: center;
	}

	.modal-body {

		> form {
			width: 100%;
		}

		> form .control-group:first-child {
			width: 494px;
		}
	}

	.nav-tabs {
		margin: 40px 0 0;
	}

	.avatars-list {
		margin-bottom: 30px;
	}

	.chrs-counter {
		color: $lightgray;
		display: block;
		float: left;
		margin-bottom: 10px;
		width: 100%;
	}

	.btn-primary {
		float: left;
	}
}

.modal-contribute {

	.group-message {
		padding-top: 25px;
		width: 440px;

		.btn-iconized .icon {
			fill: $spacegray;
			@include transition(fill .15s linear);
		}

		.btn-iconized:hover .icon {
			fill: $black;
		}

		.btn-iconized.active .icon {
			fill: $red;
		}
	}

	.location {
		display: none;
		position: relative; 

		&:before {
			content: '';
			position: absolute;
			top: -30px;
			left: 130px;
			height: 0;
			width: 0;
			border: 15px solid transparent;
			border-bottom: 15px solid white;
		}

		&.active {
			display: block;
			padding: 15px 40px 40px;
		}
	}

	.avatar {
		display: inline-block;
	}
}