.navbar {
	position: absolute;
	top: 0;
	right: 200px;

	.nav {
		margin: 0;
		padding: 15px;
	}

	.nav-item {
		display: inline-block;
		@include font-size($smallfontsize);
		line-height: $baselineheight;
		margin-left: 20px;

		.nav-link {
			color: $spacegray;
			@include transition(color .15s ease);

			&:hover {
				color: $charcoal;
			}
		}

		.icon {
			height: 16px;
			fill: $spacegray;
			margin-right: 5px;
			width: 16px;
			@include transition(all .15s ease);

			&:hover {
				fill: $charcoal;
			}
		}

		.help-text {
			@include font-size($smallfontsize);
			font-weight: 300;
			padding-right: 10px;
		}
	}
}

// nav tabs ================================================

.nav-tabs {
	border-bottom: 1px $borderstyle $earlygray;
	width: 100%;
	@include zero;
	margin-bottom: $gutterwidth;

	&.simple-tabs {
		border-bottom: 0;
	}

	li {
		border-bottom: 3px solid transparent;
		display: inline-block;
		margin-right: $gutterwidth;

		a {
			color: $charcoal;
		}

		&:last-child {
			margin-right: 0;
		}

		&.active {
			border-color: $red;

			a {
				color: $red;
			}
		}
	}
}

// step tabs ================================================

.step-tabs {
	color: $earlygray;
	list-style: none;
	@include zero;

	> li {
		display: inline-block;
		text-transform: uppercase;
		font-weight: 300;
		@include font-size($smallfontsize);
		padding: 16px 40px;

		> a {
			color: $earlygray;
		}
	}

	li.active {
		background-color: rgba(19,5,2,.2);
		font-weight: 700;

		> a {
			color: white;
		}
	}

	li.completed {

		> a {
			color: $earlygray;
		}

		.step-back {
			display: block;
			@include font-size(9);
			line-height: 0;
			margin-left: 20px;
			text-transform: lowercase;
		}

		.step-name {
			border-bottom: 1px solid lighten($charcoal,20);
		}

		&:hover {
			.step-name {
				border-bottom-color: lighten($charcoal,50);
			}
		}
	}

	.step-number {
		margin-right: 10px;
	}
}


.tab-content > .tab-pane {
  display: none;
  visibility: hidden;
}

.tab-content > .active {
  display: block;
  visibility: visible;
}