// template gallery ================================================

.template-gallery {
	background-color: $black;
	width: 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	@include clearfix;

	.royalSlider {
		width: 100%;
	}

	.royalSlider,
	.rsVisibleNearbyWrap {
		min-height: 320px;
	}

	.rsSlide .rsImg {
		display: block;
		margin: 0 auto;
	    opacity: 0.2;
	    border-top-right-radius: 6px;
	    border-top-left-radius: 6px;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;

	    @include bp(m) {
	    	border-top-right-radius: 0;
	    	border-top-left-radius: 0;
	    }
	}

	.rsActiveSlide .rsImg  {
	    opacity: 1;
	}

	.rsGCaption {
		margin-top: -1px;
		text-align: left;
	}

	.rsCaption {
		background-color: rgb(44,40,41);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		opacity: 1;
		padding: 4%;

		@include bp(m) {
			padding: 2%;
		}

		.brick-head {
			@include clearfix;
		}


		.author-name,
		.brick-text {
			color: white;
		}

		.avatar,
		.author-name,
		.author-username {
			display: inline-block;
			margin-right: 5px;
		}

		.avatar {
			float: none;
		}

		.brick-text {
			padding: 5px 0 0;
		}

		.brick-foot {
			padding: 20px 0 0;
		}

		.brick-foot > .icon {
			fill: white;
			height: 12px;
			top: 2px;
			width: 12px;

			@include bp(l) {
				height: 24px;
				top: 8px;
				width: 24px;
			}
		}

		.brick-stats {
			bottom: 0;
			right: 0;

			.icon {
				height: 12px;
				top: 2px;
				width: 12px;

				@include bp(l) {
					height: 16px;
					top: 3px;
					width: 16px;
				}
			}
		}

		.time,
		.number {
			@include font-size(11);
		}

		@include bp(l) {

			.brick-head,
			.brick-content {
				float: left;
			}

			.brick-head {
				width: 25%;
			}

			.brick-content {
				width: 50%;
			}

			.brick-foot {
				clear: left;
			}
		};
	}

	.rsArrowIcn {
		background: $black;
		height: 32px;
		width: 32px;
		opacity: .75;
		@include rounded(6px);
		padding: 10px;
		position: absolute;
		top: 50%;
		@include transition(opacity .15s ease);
		z-index: 999;

		@include bp(m) {
			height: 24px;
			padding: 0;
			top: 50%;
			width: 24px;
			@include rounded(0);
		}

		&:hover {
			opacity: 1;
		}

		&:active {
			opacity: 1;
			top: 50.2%;
		}
	}

	.rsArrowLeft .rsArrowIcn {
		background: $black url(icon-arrow-left-white.svg) 48% 48% no-repeat;
		left: 6%;

		@include bp(m) {
			background-color: transparent;
		}
	}

	.rsArrowRight .rsArrowIcn {
		background: $black url(icon-arrow-right-white.svg) 48% 48% no-repeat;
		right: 6%;
		@include bp(m) {
			background-color: transparent;
		}
	}
}