.menu {
	background-color: lighten($earlygray, 5%);
	float: left;
	height: 160px;
	position: relative;

	@include max-bp(l) {
		width: 100%;
	}

	@include bp(l) {
		float: none;
		height: 100%;
		max-height: 100%;
		right: 0;
		padding: 10px 15px 0;
		position: absolute;
		top: 0;

		// affixed works only on desktop
		&.affixed {
			margin-top: 60px;

			@include height-bp(m) {
				position: absolute;
				height: 100%;
			}
		}
	}

	@include bp(xxl) {
		padding: 20px 15px 0;
	}

	.fieldset {
		float: left;
		width: 100%;

		@include max-bp(l) {
			padding: 10px;
		}
	}

	.fieldset-title, .fieldset-subtitle {
		margin-bottom: 5px;
	}

	.fieldset-title {
		@include font-size(18);

		@include bp(l) {
			@include font-size($basefontsize * 1.25);
		} 
	}

	.fieldset-subtitle {
		color: $lightgray;
	}

	.fieldset-title {
		color: $spacegray;
	}
}

// customize menu

.customize-menu {

	.fieldset-title {
		margin-left: 0;
	}

	.control-label {
		text-align: left;
		padding-top: 12px;
		width: 100px;
	}

	.control-group {
		width: 100%;

		@include bp(xxl) {
			width: 100%;
		}
	}

	.controls {
		display: inline-block;
		margin-left: 0;
		width: 100px;

		@include bp(l) {
			width: 110px;
		}

		@include bp(xxl) {
			width: 52%;
		}
	}

	input[type="control"].control {
		padding: 8px;
	}

	select.control {
		padding: 10px 8px;
	}

	.group-switch {
		.control-label {
			padding-top: 3px;
		}
	}

	.group-options {
		.control-label,
		.controls {
			padding-top: 2px;
		}
	}

	.group-style-alignment {
		.btn-group {
			margin-top: 7px;
		}
	}

	.form-actions .controls,
	.form-actions .btn {
		width: 100%;
	}

	.form-actions .controls {
		margin-bottom: 10px;
	}

	.toggle-visibility {
		cursor: pointer;
		padding-top: 10px;

		.icon-eye {
			fill: $red;
		}

		.icon-eye-blocked {
			fill: $lightgray;
		}

		.icon-eye {
			display: block;
		}

		.icon-eye-blocked {
			display: none;
		}

		&.hide {

			.icon-eye {
				display: none;
			}

			.icon-eye-blocked {
				display: block;
			}
		}
	}

	@include max-bp(l) {

		.fieldset {
			width: 25%;
		}

		.fieldset.fieldset-lg {
			width: 50%;
		}

		.fieldset.fieldset-xl {
			width: 100%;
		}

		.half-fieldset {
			float: left;
			margin-bottom: 10px;
			width: 50%;
		}

		.half-fieldset .control-label,
		.half-fieldset .controls {
			width: 95%;
		}

		.half-fieldset .control-label {
			padding-top: 0;
		}

		.half-fieldset .control-group {
			margin-bottom: 6px;
		}

		.half-fieldset .group-style-alignment {
			margin-bottom: 15px;
		}

		.group-style-alignment .btn-group {
		    margin: 6px 0 10px;
		}

		.form-actions .controls {
			float: right;
			margin-right: 10px;
			width: 35%;
		}
	}
}

.toggle-menu {
	background-color: lighten($earlygray, 5%);
	color: $charcoal;
	display: none;
	font-weight: 300;
	padding: 20px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 50;

	> span {
		display: inline-block;
		line-height: 8px;
	}
}

@include max-bp(l) {

	.toggle-menu {
		display: block;

		&.affixed {
			position: fixed;
			margin-top: -120px;
		}
	}

	.page-customize .menu {
		height: 0;
		opacity: 0;
		@include transition(height .35s ease, opacity .35s linear);
		
		&.affixed {
			position: fixed;
			margin-top: -60px;
		}
	}

	.page-customize .menu.open {
		height: 400px;
		max-height: 100%;
		opacity: 1;
		z-index: 5;
	}

}

// publish menu

.publish-menu {

	.fieldset {
		width: 33%;

		@include bp(l){
			width: 100%;
		}
	}

	.control-group {
		margin-bottom: $gutterwidth;
	}

	.control-embed-code,
	.control-url {
		color: $spacegray;
		@include font-size($smallerfontsize);
		line-height: 1.35em;
		padding: 8px;
	}

	.control-embed-code {
		height: 80px;
	}

	.btn-clipboard {
		float: right;
		@include font-size($smallerfontsize);
		text-align: left;
	}
}