/* ==========================================================================
   LIBRARY
   ========================================================================== */

/* ==========================================================================
 Global
 ========================================================================== */

section > p {
	@include font-size(18);
	font-weight: 300;
}

.library-code {
	color: $red;
	font-family: Consolas, monospace;
}

/* ==========================================================================
  Sections
  ========================================================================== */

section[class*="section-"] {
	margin: 0 60px 60px;
	background-color: white;
	@include clearfix;

	@include bp(xl) {
		max-width: 1400px;
	}
}

.section-subtitle {
	color: $black;
	@include font-size(32);
	font-weight: 300;
	margin-bottom: 40px;
}

.section-fieldtitle {
	color: $charcoal;
	@include font-size(24);
	font-weight: 300;
	margin: 40px 0;
}

.section-jumbotron {
	color: $black;
	line-height: 20px;
	margin-bottom: 0;
	padding-bottom: 80px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 80px;

	.section-title {
		color: $red;
		font-size: 48px;
		font-weight: 700;
		line-height: 1em;
		margin-bottom: $gutterwidth;
	}

	p {
		color: $charcoal;
		font-size: 22px;
		font-weight: 300;
		margin: 0;
	}

}

.inverted-bg {
	background-color: $earlygray;
	padding: 30px;
	@include clearfix;
}

// icons

.glyph {
	font-size: 16px;
	width: 20em;
	margin-right: 1.5em;
	margin-bottom: 10px;
	float: left;
	overflow: hidden;
}

.pbs {
	padding-bottom: .25em;
}

.mls {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin-left: .25em;
}

/* ==========================================================================
  Grid
  ========================================================================== */

.library-page .line {
	margin-bottom: $gutterwidth;
}

.library-page .unit.bg {
	background-color: #b1e0ec;
	color: white;
	> p {
		background-color: #46bcd2;
		margin: 0;
		padding: $baselineheight;
	}

	&.alignc {
		text-align: center;
	}
}

/* ==========================================================================
  Navbar
  ========================================================================== */

.library-navbar {
	background: $softgray;
	@include clearfix;
	width: 100%;

	&.affixed {
		position: fixed;
		z-index: 99999;
	}

	ul {
		@include clearfix;
		margin: 0;
	}

	li {
		float: left;
		display: block;
		@include font-size(16);
	}

	li a {
		color: $charcoal;
		display: block;
		padding: 28px 25px;

		&:hover {
			color: $red;
		}
	}

	.brand {
		color: $black;
		float: left;
		font-weight: 500;
		text-align: center;

		img {
			height: 20px;
		}	
	}

	.dropdown-toggle {
		background-color: $softgray;
		border: none;
	}

	.dropdown-menu {
		border: none;
		background-color: $softgray;
		margin-top: 25px;
		padding: 10px 0;

		li {
			border-bottom: 0;
			width: 100%;

			a,a:link {
				padding: 8px 25px;
				color: $charcoal;
			}

			a:hover {
				color: $red;
			}
		}
	}

	.open {
	}
}

/* ==========================================================================
  Images
  ========================================================================== */

.glyph .icon {
	width: 24px;
	height: 24px;
}

/* ==========================================================================
  Prettyprint Theme
  ========================================================================== */

/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
.prettyprint {
  background: #2d2d2d;
  padding: 10px;
  @include rounded(6px);

  code {
  	font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  	font-size: 12px !important;
  	line-height: 1em;
  }
}

.pln {
  color: #cccccc;
}

@media screen {
  .str {
    color: #99cc99;
  }

  .kwd {
    color: #cc99cc;
  }

  .com {
    color: #999999;
  }

  .typ {
    color: #6699cc;
  }

  .lit {
    color: #f99157;
  }

  .pun {
    color: #cccccc;
  }

  .opn {
    color: #cccccc;
  }

  .clo {
    color: #cccccc;
  }

  .tag {
    color: #f2777a;
  }

  .atn {
    color: #f99157;
  }

  .atv {
    color: #66cccc;
  }

  .dec {
    color: #f99157;
  }

  .var {
    color: #f2777a;
  }

  .fun {
    color: #6699cc;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}