/* ==========================================================================
   MOLECULES
   ========================================================================== */

/* ==========================================================================
  Components
  ========================================================================== */

// alerts ================================================

.alert {
	left: 0;
	opacity: .98;
	padding: 28px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;

	p {
		display: inline-block;
		line-height: 24px;
		margin: 0;
	}

	> .icon {
		fill: $charcoal;
		vertical-align: text-top;
	}

	&.alert-success {
		background-color: #acecb6;
	}

	&.alert-info {
		background-color: #a5eaf3;
	}

	&.alert-warning {
		background-color: #ffeebf;
	}

	&.alert-danger {
		background-color: #f8bdaf;
	}

	.btn-close {
		position: absolute;
		right: 28px;

		.icon {
			fill: $spacegray;
			@include transition(fill .3s);
		}

		&:hover {
			.icon {
				fill: $charcoal;
			}
		}
	}
}

// search options ================================================

.search-options {
	@include clearfix;
	margin: 10px 10px $baselineheight / 2;
	position: relative;

	.related-tags {
		float: left;
		width: auto;

		.label,
		> ul,
		> ul > li {
			display: inline-block;
			width: auto;
		}

		.label,
		> ul > li {
			@include font-size($smallerfontsize);
			margin-right: $gutterwidth / 3;

			@include bp(l) {
				margin-right: $gutterwidth / 2;
			}
		}

		> ul > li > a {
			color: $spacegray;
			font-weight: 300;

			&:hover {
				color: $black;
			}
		}

		.label {
			background-color: $softgray;
			@include font-size($smallerfontsize - 2);
			padding: 2px 3px;
			@include rounded($inputradius);
			text-transform: uppercase;
		}
	}

	.sort-dropdown {
		float: right;

		.icon {
			fill: $spacegray;
		}

		&:hover {
			.icon {
				fill: $black;
			}
		}
	}
}

// story item ================================================

@import "partials/molecules/story-item";

// template preview ================================================

@import "partials/molecules/template-preview";

// user-panel ================================================

@import "partials/molecules/user-panel";


/* ==========================================================================
  Form
  ========================================================================== */

// form types ================================================

@import "partials/molecules/form-types";


/* ==========================================================================
  Grid
  ========================================================================== */

@import "partials/molecules/grid";


/* ==========================================================================
  Lists
  ========================================================================== */

@import "partials/molecules/lists";


/* ==========================================================================
  Modal
  ========================================================================== */

@import "partials/molecules/modal";


/* ==========================================================================
  Navigation
  ========================================================================== */

@import "partials/molecules/navigation";


/* ==========================================================================
  Templates
  ========================================================================== */

@import "partials/molecules/template-brick-global";
@import "partials/molecules/template-brick";
@import "partials/molecules/template-single";
@import "partials/molecules/template-gallery";
@import "partials/molecules/template-timeline";
@import "partials/molecules/template-map";

