/* ==========================================================================
   MOLECULES
   ========================================================================== */

/* ==========================================================================
  Components
  ========================================================================== */

// alerts ================================================

.alert {
	left: 0;
	opacity: .98;
	padding: 28px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;

	p {
		display: inline-block;
		line-height: 24px;
		margin: 0;
	}

	> .icon {
		fill: $charcoal;
		vertical-align: text-top;
	}

	&.alert-success {
		background-color: #acecb6;
	}

	&.alert-info {
		background-color: #a5eaf3;
	}

	&.alert-warning {
		background-color: #ffeebf;
	}

	&.alert-danger {
		background-color: #f8bdaf;
	}

	.btn-close {
		position: absolute;
		right: 28px;

		.icon {
			fill: $spacegray;
			@include transition(fill .3s);
		}

		&:hover {
			.icon {
				fill: $charcoal;
			}
		}
	}
}

// search options ================================================

.search-options {
	@include clearfix;
	margin: 10px 10px $baselineheight / 2;
	position: relative;

	.related-tags {
		float: left;
		width: auto;

		.label,
		> ul,
		> ul > li {
			display: inline-block;
			width: auto;
		}

		.label,
		> ul > li {
			@include font-size($smallerfontsize);
			margin-right: $gutterwidth / 3;

			@include bp(l) {
				margin-right: $gutterwidth / 2;
			}
		}

		> ul > li > a {
			color: $spacegray;
			font-weight: 300;

			&:hover {
				color: $black;
			}
		}

		.label {
			background-color: $softgray;
			@include font-size($smallerfontsize - 2);
			padding: 2px 3px;
			@include rounded($inputradius);
			text-transform: uppercase;
		}
	}

	.sort-dropdown {
		float: right;

		.icon {
			fill: $spacegray;
		}

		&:hover {
			.icon {
				fill: $black;
			}
		}
	}
}

// story item ================================================

.story-item {
	background: url(cover-image.png) 0 0 no-repeat;
	background-size: cover;
	margin: auto;
	position: relative;
	@include rounded(8px);
	width: 100%;
	max-width: 340px;
	z-index: 1;


	&:hover {
		cursor: pointer;
	}

	&:before {
		background-color: $darkoverlay;
		content: '';
		display: block;
		padding-top: 100%;
		@include rounded(8px);
		@include transition(background-color .15s ease);
	}
	
	&:hover:before {
		background-color: $redoverlay;
	}

	.time {
		color: $lightgray;
	}

	.story-item-content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 20px;
		vertical-align: center;
		color: #fff;
	}

	.story-item-foot {
		bottom: 20px;
		@include clearfix;
		padding-top: 50%;
		position: absolute;
		width: 86.5%;

		.icon {
			fill: $earlygray;

			&:hover {
				fill: white;
			}
		}
		
		.story-contributions-counter {
			float: left;
			@include font-size($smallfontsize);
			@include no-selection;
			width: auto;
		}

		.story-actions {
			float: right;

			.btn {
				display: inline-block;
				margin: 0 0 0 10px;
				@include no-selection;
			}
		}
	}

	.story-status {

		.icon-lock {
			display: none;
		}

		.icon-unlocked {
			display: block;
		}

		&.private {
		
			.icon-unlocked {
				display: none;
			}
		
			.icon-lock {
				display: block;
			}
		}
	}

	.story-settings-menu {
		background: $black;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		bottom: 0;
		height: auto;
		display: none;
		position: absolute;
		z-index: 2;
		width: 100%;
		/* @include transition(max-height .25s ease-in); */

		&.visible {
			display: block;
			animation-name: pullUp;
			-webkit-animation-name: pullUp; 
			animation-duration: 1.1s; 
			-webkit-animation-duration: 1.1s;
			animation-timing-function: ease-out;  
			-webkit-animation-timing-function: ease-out;  
			transform-origin: 0% 100%;
			-ms-transform-origin: 0% 100%;
			-webkit-transform-origin: 0% 100%;  
		}

		.settings-menu-list {
			@include clearfix;
			margin: 0;
			@include nobullet;
			padding: 20px;
		}

		.setting-menu-option {
			float: left;
			@include font-size($smallerfontsize);
			width: 50%;

			.icon {
				fill: $earlygray;
			}

			> a {
				color: $earlygray;
				
				&:hover {
					color: white;

					.icon {
						fill: white;
					}
				}
			}
		}

		.btn-close {
			position: absolute;
			right: 22px;
			bottom: 20px;
		}
	}
}

// template ================================================

.template {
	width: 100%;
	padding: 20px;

	&:hover {
		background-color: lighten($softgray,1.75%);
		cursor: pointer;
	}

	.counter {
		color: $lightgray;
		display: inline-block;
		@include font-size($smallerfontsize);
		font-style: italic;
		font-weight: 300;
	}
}

.template-title {
	color: $spacegray;
	display: inline-block;
	@include font-size(16);
	line-height: 24px;
	margin: 0 5px 5px 0;

	.icon {
		fill: $spacegray;
		top: 3px;
	}

	.template-name.edit {
		margin: 0;
		background: white;
		border: 1px solid $lightgray;
		@include font-size($smallfontsize);
		padding: 3px;
		width: auto;
	}
}

.template-dropdown {
	display: inline-block;
	float: right;
	right: 0;
	top: 3px;

	.dropdown-toggle .icon {
		fill: $spacegray;
		@include transition(all .15s ease);
	}

	&.open .dropdown-toggle .icon,
	.dropdown-toggle:hover .icon {
		fill: $black;
	}
}

.template-items-list {
	list-style: none;
	text-align: left;
	@include zero;
	overflow: hidden;

	.template-item {
		background-color: $earlygray;
		display: inline-block;
		margin: 0 0 4px 0;
		padding: 0 3px;

		.icon {
			fill: $spacegray;
			margin: 0 4px;
			width: 14px;
		}
	}
}

.template-area {
	border: 1px $borderstyle $earlygray;
	padding: 15px;
	text-align: center;

	&.empty-area {
		border-style: dashed;
		border-color: darken($earlygray, 10%);
	}

	.message {
		color: $spacegray;
		@include font-size(12);
		line-height: 12px;
		margin: 0;
		padding: 0;
	}
}

.template.active {
	background: rgba($earlygray,.5);
	border-left: 3px solid $red;
	cursor: default;

	.counter {
		color: $spacegray;
	}

	.template-title {
		color: $black;
		font-weight: 700;
	}

	.template-title .icon {
		fill: $black;
	}

	.template-area {
		border-color: darken($earlygray, 5%);
	}

	.template-item {
		background-color: darken($earlygray,3%);
		
		&.added {
			background-color: $red;

			.icon {
				fill: white;
			}
		}
	}
}

// user-panel ================================================

.user-panel {
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	width: 160px;

	&.dropdown {

		.dropdown-toggle {
			overflow: hidden;
			padding: 15px 20px 15px;
			position: relative;
			text-align: center;
			@include transition(all .15s ease);
			width: 100%;
			z-index: 1;
		}

		.dropdown-menu {
			background-color: darken($softgray,8%); 
			border: 0;
			height: 0;
			max-height: 0;
			opacity: 0;
			position: absolute;
			@include rounded(0);
			top: 56px;
			width: 0;

			li {
				border-bottom: 0;

				&:last-child {
					border-top: 1px solid $earlygray;
				}

				a {
					@include font-size ($smallfontsize);
					padding: 12px 15px;
				}
			}
		}

		&:hover {

			.dropdown-toggle {
				background-color: darken($softgray,8%); 
			}

			.dropdown-menu {
				opacity: 1;
				height: auto;
				max-height: 400px;
				@include transition(max-height .55s linear);
				width: auto;
			}
		}
	}

	.user-name {
		color: $charcoal;
		display: inline-block;
		@include font-size($smallfontsize);
		font-weight: 400;
		padding-right: 10px;
	}
}

/* ==========================================================================
  Form
  ========================================================================== */

// form types ================================================

@import "partials/molecules/form-types";

/* ==========================================================================
  Grid
  ========================================================================== */

@import "partials/molecules/grid";

/* ==========================================================================
  Lists
  ========================================================================== */

.avatars-list {

	> li {
		border: $inputborderwidth solid transparent;
		cursor: pointer;
		position: relative;
		@include rounded(50%);
		@include transition(all .3s ease);

		&:hover {
			border-color: $spacegray;
		}

		.icon {
			bottom: 0;
			left: 0;
			margin: auto;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			@include transition(opacity .15s ease);
		}

		&:before {
			content: '';
			display: block;
			height: 30px;
			left: 0;
			position: absolute;
			@include rounded(50%);
			top: 0;
			@include transition(background .15s linear);
			width: 30px;
			z-index: 1;
		}
	}

	li.selected {
		border: $inputborderwidth solid $red;

		.icon-close {
			fill: $red;
		}

		&:hover {

			&:before {
				background: $darkoverlay;
			}

			.icon-checkmark {
				opacity: 0;
			}

			.icon-close {
				opacity: 1;
			}
		}
	}
}

.share-vertical-list {

	> li {
		@include font-size($smallfontsize);
		float: left;
		margin-bottom: 10px;
		width: 50%;

		@include bp(l) {
			width: 100%;
		}
	}

	> li a {
		color: $charcoal;

		&:hover {
			color: $red;
		}
	}

	.icon {
		margin-right: 10px;

		@include max-bp(l) {
			width: 20px;
			height: 20px;
			top: 4px;
		};
	}
}

.share-horizontal-list {
	text-align: right;

	li {
		color: $lightgray;
		@include font-size($smallerfontsize);
		margin-top: 10px;
		margin-bottom: 10px;
		vertical-align: middle;

		&.label {
			margin-left: 20px;
		}
	}

	.icon {
		fill: $lightgray;

		&:hover {
			&.icon-facebook-circle {
				fill: $facebook;
			}
			&.icon-twitter-circle {
				fill: $twitter;
			}
			&.icon-googleplus-circle {
				fill: $googleplus;
			}
			&.icon-mail-circle {
				fill: $black;
			}
		}
	}

	.btn-embed {
		margin-left: 10px;
	}
}

/* ==========================================================================
  Modal
  ========================================================================== */

@import "partials/molecules/modal";

/* ==========================================================================
  Navigation
  ========================================================================== */

@import "partials/molecules/navigation";

/* ==========================================================================
  Templates
  ========================================================================== */

@import "partials/molecules/template-brick-global";
@import "partials/molecules/template-brick";
@import "partials/molecules/template-single";
@import "partials/molecules/template-gallery";
@import "partials/molecules/template-timeline";
@import "partials/molecules/template-map";

