/* ==========================================================================
   ORGANISMS
   ========================================================================== */


 /* ==========================================================================
   Global
   ========================================================================== */

.page {
	background-color: $bodycolor;
	min-height: 100%;
	position: relative;	
}

.main {
	padding-bottom: 150px;
	position: relative;
}

 /* ==========================================================================
   Footer
   ========================================================================== */

.foot {
	background: white;
	bottom: 0;
	border-top: 1px solid darken($earlygray,3%);
	@include clearfix;
	height: 150px;
	left: 0;
	padding: 20px;
	position: absolute;
	width: 100%;
	z-index: 10000;

	.colophon,
	.footer-links,
	.contact {
		float: left;
	}

	.colophon {
		width: 30%;

		p, a {
			line-height: 1.38;
			@include font-size($smallerfontsize);
			color: rgb(187,183,183);
		}
	}

	.footer-links {
		width: 33%;

		ul {
			list-style: none;
		}

		ul > li {
			@include font-size($smallfontsize);
		}
	}

	.contact {
		width: 33%;
		text-align: right;

		.contact-link {
			width: auto;
			margin-left: $gutterwidth;
			margin-bottom: $gutterwidth;
			opacity: 0.7;
		}
	}
}

 /* ==========================================================================
   Header
   ========================================================================== */

 .head {
 	background: white;
 	max-height: 60px;
 	@include clearfix;
 	padding: 15px 0 15px 10px;
 	position: relative;
 	width: 100%;

 	.logo {
 		float: left;
 		margin-top: 5px;
 	}
 }

// head public ================================================

.head-public {
	background-color: $earlygray;
	padding: 8px;
	position: relative;
	z-index: 9999;
	@include transition(all .3s);

	@include bp(m) {
		padding: 15px 10px;
		position: fixed;
	}

	.logo-svg {
		fill: $spacegray;
		height: 20px;

		@include bp(m) {
			height: 25px;
		}
	}

	.promo {
		color: $spacegray;
		display: none;
		float: right;
		@include font-size($smallfontsize);

		@include bp(l) {
			display: block;
		}

		.btn {
			margin: 0 10px;
			&.btn-sm {
				padding-top: 6px;
				padding-bottom: 6px;
			}
		}
	}

	.story-excerpt,
	.share-horizontal-list {
		display: none;
		opacity: 0;
		@include transition(opacity .3s .3s);
	}

	.story-excerpt {
		border-left: 1px solid $earlygray;
		float: left;
		margin-left: 20px;
		padding-left: 20px;
		width: auto;

		.avatar {
			margin-right: 10px;
		}

		.avatar,
		.story-title {
			display: inline-block;
			margin-bottom: 0;
		}

		.story-title {
			color: $red;
			font-family: $altfontfamily;
			@include font-size(20);
			line-height: $baselineheight;
		}
	}

	@include bp(m) {
		&.affixed {
			background-color: rgba(255,255,255,.97);
			border-bottom: 1px solid $earlygray;
			padding: 10px 10px;

			.logo-svg {
				@include transition(all .3s);
				width: 75px;
			}

			.promo {
				display: none;
				opacity: 0;
			}

			.story-excerpt,
			.share-horizontal-list {
				display: block;
				opacity: 1;

				> li {
					margin: 0;
				}
			}
		}
	}

	@include bp(l) {
		.share-horizontal-list {
			float: right;
			margin-left: 40px;
		}
	}
}

 /* ==========================================================================
   Masthead
   ========================================================================== */

@import "partials/organisms/masthead";


 /* ==========================================================================
   Story
   ========================================================================== */

@import "partials/organisms/story";


 /* ==========================================================================
   Sections
   ========================================================================== */

// menu ================================================

@import "partials/organisms/menu";


// manage ================================================

.manage-template {
	background-color: $darkeroverlay;
	display: none;
	height: 100%;
	padding-top: $gutterwidth;
	padding-bottom: $gutterwidth;
	position: absolute;
	top: 0;
	z-index: 100;

	&.visible {
		display: block;
	}

	.manage-title,
	.manage-intro {
		color: white;
	}

	.manage-title {
		margin-bottom: $gutterwidth / 2;
	}

	.nav-tabs > li {
		@include font-size($smallfontsize);
	}

	.nav-tabs > li > a {
		color: $red;
	}

	.nav-tabs > li.active {
		border-color: white;
	}

	.nav-tabs > li.active > a {
		color: white;
	}

	.actions {
		float: right;
		margin-top: 20px;

		.btn-light:hover {
			color: $lightgray;
		}
	}
}

// metadata ================================================

@import "partials/organisms/metadata";


// mobile share ================================================

@import "partials/organisms/mobile-share";


// profile ================================================

// profile name

.profile-name {
	margin-top: $gutterwidth;

	h1 {
		margin-bottom: 0;
		text-align: center;
	}
}

// profile settings

.profile-settings {
	margin-bottom: $gutterwidth * 2;

	.inner {
		background-color: white;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	.fieldset {
		padding: 20px 80px;
	}

	.fieldset-password {
		display: none;
	}

	.fieldset-password.visible {
		display: block;
	}

	.fieldset-picture {
		background-color: $charcoal;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		padding-top: 30px;
		padding-bottom: 30px;


		.controls {
			margin: 0 auto;
			position: relative;
			text-align: center;
			width: 50%;
		}

		.btn-link {
			color: white;
			display: block;
			margin: 10px 0 0; 

			&:hover {
				text-decoration: underline;

				.icon {
					fill: white;
				}
			}
		}

		.icon {
			fill: white;
		}
	}
} 

// search results ================================================

@include bp(xxl) {
	.search-results {
		width: 100%;
		padding-right: 470px;
	}
}

// story contribute ================================================

.story-contribute {
	margin: 0px auto 20px;
	text-align: center;
	width: auto;
	max-width: 1400px;

	@include bp(l) {
		margin-bottom: 40px;
	}

	h4 {
		font-family: $altfontfamily;
	}

}

// stories list ================================================

.stories-list {
	list-style: none;
	@include zero;
}

// drag mode

.drag-active {
	border: 4px solid $lightgray;
	cursor: move;
	height: 200px !important;
	overflow: hidden !important;
	position: relative;
	z-index: 20;

	> * {
		@include no-selection;
	}

	&:hover {
		border-color: darken($lightgray, 15%);

		.btn-drag,
		.btn-remove {
			background-color: darken($lightgray, 15%);
		}
	}

	.btn-remove {
		background-color: $lightgray;
		cursor: pointer;
		padding: 2px 3px 5px;
		position: absolute;
		@include rounded(0);
		top: 0;
		right: 0;
		z-index: 1000;

		.icon {
			fill: white;
		}
	}

	// fix image auto-height in the single template
	.template-single  >.brick-media {
		height: 500px;
	}
}

// stories ================================================

.stories-section {
	padding-bottom: $gutterwidth * 2;
}


// templates ================================================

.templates {
	right: 0;
	top: 0;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	background-color: white;
	height: 100%;
	max-height: 100%;

	@include bp(xxl) {
		max-width: 450px;
	}

	&.affixed {
		top: 60px;
	}

	.templates-title {
		color: $lightgray;
		margin: 15px 0 15px 20px;

		@include bp(l) {
			@include font-size(20);
		}
	}

	.new-template-dropdown {
		display: block;
		@include font-size($smallerfontsize);
		margin: 20px 0 0 20px;

		.icon-plus {
			width: 10px;
			height: 10px;
		}
	}
}