/* ==========================================================================
   ORGANISMS
   ========================================================================== */


 /* ==========================================================================
   Global
   ========================================================================== */

.page {
	background-color: $bodycolor;
	min-height: 100%;
	position: relative;	
}

.main {
	padding-bottom: 80px;
	position: relative;
}

 /* ==========================================================================
   Footer
   ========================================================================== */

.foot {
	background: white;
	bottom: 0;
	height: 80px;
	left: 0;
	position: absolute;
	width: 100%;
}

 /* ==========================================================================
   Header
   ========================================================================== */

 .head {
 	background: white;
 	max-height: 60px;
 	@include clearfix;
 	padding: 15px 0 15px 10px;
 	position: relative;
 	width: 100%;

 	.logo {
 		float: left;
 		margin-top: 5px;
 	}
 }

// head public ================================================

.head-public {
	background-color: $earlygray;
	padding: 8px;
	position: relative;
	z-index: 9999;
	@include transition(all .3s);

	@include bp(m) {
		padding: 15px 10px;
		position: fixed;
	}

	.logo-svg {
		fill: $spacegray;
		height: 20px;

		@include bp(m) {
			height: 25px;
		}
	}

	.promo {
		color: $spacegray;
		display: none;
		float: right;
		@include font-size($smallfontsize);

		@include bp(l) {
			display: block;
		}

		.btn {
			margin: 0 10px;
			&.btn-sm {
				padding-top: 6px;
				padding-bottom: 6px;
			}
		}
	}

	.story-excerpt,
	.share-horizontal-list {
		display: none;
		opacity: 0;
		@include transition(opacity .3s .3s);
	}

	.story-excerpt {
		border-left: 1px solid $earlygray;
		float: left;
		margin-left: 20px;
		padding-left: 20px;
		width: auto;

		.avatar {
			margin-right: 10px;
		}

		.avatar,
		.story-title {
			display: inline-block;
			margin-bottom: 0;
		}

		.story-title {
			color: $red;
			font-family: $altfontfamily;
			@include font-size(20);
			line-height: $baselineheight;
		}
	}

	@include bp(m) {
		&.affixed {
			background-color: rgba(255,255,255,.97);
			border-bottom: 1px solid $earlygray;
			padding: 10px 10px;

			.logo-svg {
				@include transition(all .3s);
				width: 75px;
			}

			.promo {
				display: none;
				opacity: 0;
			}

			.story-excerpt,
			.share-horizontal-list {
				display: block;
				opacity: 1;

				> li {
					margin: 0;
				}
			}

			.share-horizontal-list {

			}
		}
	}

	@include bp(l) {
		.share-horizontal-list {
			float: right;
			margin-left: 40px;
		}
	}
}

 /* ==========================================================================
   Masthead
   ========================================================================== */

 .masthead {
	background-color: $charcoal;
	height: 60px;
	position: relative;
	z-index: 10;

	.btn-write.open {
		opacity: 0;
		@include transition(opacity .25s ease 1s);
	}
 }

 .profile-head {
 	@include clearfix;
 	position: relative;
	margin: 0 auto;
	width: 100%;

	@include bp(l) {
		width: 940px;
	}

	.profile-info,
	.profile-avatar,
	.profile-stats {
		float: left;
	}

	.profile-info,
	.profile-stats {
		@include font-size($smallfontsize);
		font-weight: 300;
		margin: 28px 0;
		@include nobullet;
		padding: 0;
		width: 320px;

		@include bp(l) {
			width: 415px;
		}

		li {
			color: $spacegray;
			display: inline-block;
		}
	}

	.profile-avatar {
		margin-top: -12px;
		width: 110px;
	}

	.profile-info {
		padding-right: $gutterwidth / 2;
		text-align: right;
		
		@include bp(l) {
			padding-right: $gutterwidth * 2;
		}

		li {
			margin-left: $gutterwidth / 2;

			@include bp(l) {
				margin-left: $gutterwidth * 2;
			}
		}

		.icon {
			fill: $softgray;
		}
	}

	.profile-stats {
		@include font-size($smallfontsize);
		padding-left: $gutterwidth / 2;

		@include bp(l) {
			padding-left: $gutterwidth * 2;
		}

		li {
			margin-right: $gutterwidth / 2;

			@include bp(l) {
				margin-right: $gutterwidth * 2;
			}
		}

		.emphasis {
			color: $softgray;
			@include font-size(18);

			@include bp(l) {
				@include font-size(24);
			}
		}
	}
 }

 .profile-name {
 	margin: 20px 0 0;
 	text-align: center;
 }

 /* ==========================================================================
   Story
   ========================================================================== */

.story {
	left: 0;
	top: 0;
	padding: 40px 20px;
	height: 100%;
	max-height: 100%;
	max-width: 1400px;

	@include bp(l) {
		padding: 40px;
	}

	// sections

	.content-section {
		margin: 40px 0;
	}

	// section masonry

	.section-masonry {
		@include clearfix;
		clear: both;
	}

	.section-masonry .brick {
		float: left;
		width: 300px;
		margin: 10px;
	}
}

.story-head {
	margin-bottom: 40px;

	&:after {
		background-color: $lightgray;
		content: '';
		display: block;
		height: 1px;
		width: 40px;
	}
}

.story-title {
	color: $red;
	font-family: KlavikaWebBasicBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include font-size(48);
	line-height: $baselineheight / 1.75;
	margin-bottom: $gutterwidth;
}

.story-description {
	color: $charcoal;
	line-height: $baselineheight / 1.25;
}

 /* ==========================================================================
   Sections
   ========================================================================== */

// menu ================================================

.menu {
	background-color: lighten($earlygray, 5%);
	float: left;
	height: 160px;
	position: relative;

	@include max-bp(l) {
		width: 100%;
	}

	@include bp(l) {
		float: none;
		height: 100%;
		max-height: 100%;
		margin-top: 120px;
		right: 0;
		padding: 10px 15px 0;
		position: absolute;
		top: 0;

		// affixed works only on desktop
		&.affixed {
			margin-top: 60px;

			@include height-bp(m) {
				position: absolute;
				height: 100%;
			}
		}
	}

	@include bp(xxl) {
		padding: 20px 15px 0;
	}

	.fieldset {
		float: left;
		width: 100%;

		@include max-bp(l) {
			padding: 10px;
		}
	}

	.fieldset-title, .fieldset-subtitle {
		margin-bottom: 5px;
	}

	.fieldset-title {
		@include font-size(18);

		@include bp(l) {
			@include font-size($basefontsize * 1.25);
		} 
	}

	.fieldset-subtitle {
		color: $lightgray;
	}

	.fieldset-title {
		color: $spacegray;
	}
}

// customize menu

.customize-menu {

	.fieldset-title {
		margin-left: 0;
	}

	.control-label {
		text-align: left;
		padding-top: 12px;
		width: 100px;
	}

	.control-group {
		width: 100%;

		@include bp(xxl) {
			width: 100%;
		}
	}

	.controls {
		display: inline-block;
		margin-left: 0;
		width: 100px;

		@include bp(l) {
			width: 110px;
		}

		@include bp(xxl) {
			width: 52%;
		}
	}

	input[type="control"].control {
		padding: 8px;
	}

	select.control {
		padding: 10px 8px;
	}

	.group-switch {
		.control-label {
			padding-top: 3px;
		}
	}

	.group-options {
		.control-label,
		.controls {
			padding-top: 2px;
		}
	}

	.group-style-alignment {
		.btn-group {
			margin-top: 7px;
		}
	}

	.form-actions .controls,
	.form-actions .btn {
		width: 100%;
	}

	.form-actions .controls {
		margin-bottom: 10px;
	}

	.toggle-visibility {
		cursor: pointer;
		padding-top: 10px;

		.icon-eye {
			fill: $red;
		}

		.icon-eye-blocked {
			fill: $lightgray;
		}

		.icon-eye {
			display: block;
		}

		.icon-eye-blocked {
			display: none;
		}

		&.hide {

			.icon-eye {
				display: none;
			}

			.icon-eye-blocked {
				display: block;
			}
		}
	}

	@include max-bp(l) {

		.fieldset {
			width: 25%;
		}

		.fieldset.fieldset-lg {
			width: 50%;
		}

		.fieldset.fieldset-xl {
			width: 100%;
		}

		.half-fieldset {
			float: left;
			margin-bottom: 10px;
			width: 50%;
		}

		.half-fieldset .control-label,
		.half-fieldset .controls {
			width: 95%;
		}

		.half-fieldset .control-label {
			padding-top: 0;
		}

		.half-fieldset .control-group {
			margin-bottom: 6px;
		}

		.half-fieldset .group-style-alignment {
			margin-bottom: 15px;
		}

		.group-style-alignment .btn-group {
		    margin: 6px 0 10px;
		}

		.form-actions .controls {
			float: right;
			margin-right: 10px;
			width: 35%;
		}
	}
}

.toggle-menu {
	background-color: lighten($earlygray, 5%);
	color: $charcoal;
	display: none;
	font-weight: 300;
	padding: 20px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 10;

	> span {
		display: inline-block;
		line-height: 8px;
	}
}

@include max-bp(l) {

	.toggle-menu {
		display: block;

		&.affixed {
			position: fixed;
			margin-top: -120px;
		}
	}

	.page-customize .menu {
		height: 0;
		opacity: 0;
		@include transition(height .35s ease, opacity .35s linear);
		
		&.affixed {
			position: fixed;
			margin-top: -60px;
		}
	}

	.page-customize .menu.open {
		height: 400px;
		max-height: 100%;
		opacity: 1;
		z-index: 5;
	}

}

// publish menu

.publish-menu {

	.fieldset {
		width: 33%;

		@include bp(l){
			width: 100%;
		}
	}

	.control-group {
		margin-bottom: $gutterwidth;
	}

	.control-embed-code {
		color: $spacegray;
		@include font-size($smallerfontsize);
		line-height: 1.35em;
		height: 80px;
		padding: 8px;
	}

	.btn-clipboard {
		float: right;
		@include font-size($smallerfontsize);
		text-align: left;
	}
}


// manage ================================================

.manage-template {
	background-color: $darkeroverlay;
	height: 100%;
	padding-top: $gutterwidth;
	padding-bottom: $gutterwidth;
	position: absolute;
	top: 0;
	z-index: 100;

	.manage-title,
	.manage-intro {
		color: white;
	}

	.manage-title {
		margin-bottom: $gutterwidth / 2;
	}

	.nav-tabs > li {
		@include font-size($smallfontsize);
	}

	.nav-tabs > li > a {
		color: $red;
	}

	.nav-tabs > li.active {
		border-color: white;
	}

	.nav-tabs > li.active > a {
		color: white;
	}

	.actions {
		float: right;
		margin-top: 20px;
	}
}

// masthead steps ================================================

.masthead-steps {
	width: 100%;

	&.affixed {
		top: 0;
		z-index: 999;
	}
}

// metadata ================================================

.metadata {
	@include font-size($smallerfontsize);
	margin: 20px 0 40px 0;
	@include clearfix;

	> * {
		float: left;
	}

	.author {
		border-right: 1px solid $lightgray;
		width: 200px;

		.avatar {
			float: left;
			margin-right: 10px;
		}

		.author-name,
		.date {
			display: block;
		}

		.author-name {
			color: $red;
			font-weight: 700;
		}

		.date {
			color: $lightgray;
		}
	}

	.counter {
		margin: 0 10px;

		.number,
		.label {
			display: block;
			@include font-size($smallerfontsize);
		}

		.number {
			@include font-size(18);
			font-weight: 700;
			line-height: 1em;
		}

		.label {
			color: $lightgray;
			text-transform: uppercase;
		}
	}

	.profiles-list {
		margin-top: 0;
	}
}

// mobile share ================================================

.mobile-share {
	background: rgba(255,255,255,.96);
	display: none;
	height: 100%;
	padding: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;

	&.visible {
		display: block;
		overflow-y:scroll;
		position: fixed;
	}

	> h1 {
		color: $red;
		font-family: $altfontfamily;
		font-weight: 400;
		text-align: center;
	}

	.share-horizontal-list {
		@include clearfix;
		margin: 0 auto;
		width: 100%;

		> li {
			float: left;
			@include font-size($smallfontsize);
			text-align: center;
			width: 32%;

			> a {
				color: $charcoal;
			}

			.icon {
				display: block;
				height: 48px;
				margin: 0 auto 10px;
				width: 48px;
			}
		}
	}

	.send-email {
		margin: 0 auto;
		text-align: center;
		width: 30%;

		> a {
			color: $charcoal;
			@include font-size($smallfontsize);
		}

		.icon {
			display: block;
			fill: $lightgray;
			height: 48px;
			margin: 0 auto;
			width: 48px;
		}

		> a:active .icon {
			fill: $charcoal;
		}
	}

	.paragraph-divider {
		border-top: 1px solid $earlygray;
		margin: 2em auto;
		position: relative;
		width: 80%; 

		> span {
			background-color: rgba(255,255,255,.96);
			color: $lightgray;
			@include font-size($smallerfontsize);
			left: 45%;
			text-transform: uppercase;
			position: absolute;
			top: -15px; 
			padding: 0 5px; 
		}
	}

	.btn-back {
		position: absolute;
		bottom: 10%;
		left: 0;
		display: block;
		text-align: center;
		width: 100%;
	}
}

// profile ================================================

// profile name

.profile-name {
	h1 {
		margin-bottom: 0;
	}
}

// profile settings

.profile-settings {
	margin-bottom: $gutterwidth * 2;

	.inner {
		background-color: white;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	.fieldset {
		padding: 20px 80px;
	}

	.fieldset-password {
		display: none;
	}

	.fieldset-password.visible {
		display: block;
	}

	.fieldset-picture {
		background-color: $charcoal;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		padding-top: 30px;
		padding-bottom: 30px;


		.controls {
			margin: 0 auto;
			position: relative;
			text-align: center;
			width: 50%;
		}

		.btn-link {
			color: white;
			display: block;
			margin: 10px 0 0; 

			&:hover {
				text-decoration: underline;

				.icon {
					fill: white;
				}
			}
		}

		.icon {
			fill: white;
		}
	}
} 

// story contribute ================================================

.story-contribute {
	margin: 0px auto;
	width: auto;
	max-width: 1400px;
	text-align: center;

	h4 {
		font-family: $altfontfamily;
	}

}

// stories list ================================================

.stories-list {
	list-style: none;
	@include zero;
}

// drag mode

.drag-active {
	border: 4px solid $lightgray;
	cursor: move;
	height: 200px !important;
	overflow: hidden !important;
	position: relative;
	z-index: 999;

	> * {
		@include no-selection;
	}

	&:hover {
		border-color: darken($lightgray, 15%);

		.btn-drag,
		.btn-remove {
			background-color: darken($lightgray, 15%);
		}
	}

	.btn-remove {
		background-color: $lightgray;
		cursor: pointer;
		padding: 2px 3px 5px;
		position: absolute;
		@include rounded(0);
		top: 0;
		right: 0;
		z-index: 1000;

		.icon {
			fill: white;
		}
	}

	// fix image auto-height in the single template
	.template-single  >.brick-media {
		height: 500px;
	}
}


// templates ================================================

.templates {
	right: 0;
	top: 0;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	background-color: white;
	height: 100%;
	max-height: 100%;

	&.affixed {
		top: 60px;
	}

	.templates-title {
		color: $lightgray;
		margin: 15px 0 15px 20px;
	}

	.new-template-dropdown {
		display: block;
		@include font-size(14);
		margin: 20px 0 0 20px;
	}
}