/* ==========================================================================
   ORGANISMS
   ========================================================================== */


 /* ==========================================================================
   Global
   ========================================================================== */

.page {
	background-color: $bodycolor;
	min-height: 100%;
	position: relative;	
}

.main {
	padding-bottom: 80px;
}

 /* ==========================================================================
   Footer
   ========================================================================== */

.foot {
	background: white;
	bottom: 0;
	height: 80px;
	left: 0;
	position: absolute;
	width: 100%;
}

 /* ==========================================================================
   Header
   ========================================================================== */

 .head {
 	background: white;
 	@include clearfix;
 	padding: 15px 0 15px 10px;
 	position: relative;
 	width: 100%;

 	.logo {
 		float: left;
 	}
 }

 /* ==========================================================================
   Masthead
   ========================================================================== */

 .masthead {
	background-color: $charcoal;
	height: 60px;
	position: relative;

	.btn-write.open {
		opacity: 0;
		@include transition(opacity .25s ease 1s);
	}
 }

 .profile-head {
 	@include clearfix;
 	position: relative;
	margin: 0 auto;
	width: 100%;

	@include bp(l) {
		width: 940px;
	}

	.profile-info,
	.profile-avatar,
	.profile-stats {
		float: left;
	}

	.profile-info,
	.profile-stats {
		@include font-size($smallfontsize);
		font-weight: 300;
		margin: 28px 0;
		@include nobullet;
		padding: 0;
		width: 320px;

		@include bp(l) {
			width: 415px;
		}

		li {
			color: $spacegray;
			display: inline-block;
		}
	}

	.profile-avatar {
		margin-top: -12px;
		width: 110px;
	}

	.profile-info {
		padding-right: $gutterwidth / 2;
		text-align: right;
		
		@include bp(l) {
			padding-right: $gutterwidth * 2;
		}

		li {
			margin-left: $gutterwidth / 2;

			@include bp(l) {
				margin-left: $gutterwidth * 2;
			}
		}

		.icon {
			fill: $softgray;
		}
	}

	.profile-stats {
		@include font-size($smallfontsize);
		padding-left: $gutterwidth / 2;

		@include bp(l) {
			padding-left: $gutterwidth * 2;
		}

		li {
			margin-right: $gutterwidth / 2;

			@include bp(l) {
				margin-right: $gutterwidth * 2;
			}
		}

		.emphasis {
			color: $softgray;
			@include font-size(18);

			@include bp(l) {
				@include font-size(24);
			}
		}
	}
 }

 .profile-name {
 	margin: 20px 0 0;
 	text-align: center;
 }

 /* ==========================================================================
   Story
   ========================================================================== */

.story-head {
	margin-bottom: 40px;

	&:after {
		background-color: $lightgray;
		content: '';
		display: block;
		height: 1px;
		width: 40px;
	}
}

 /* ==========================================================================
   Sections
   ========================================================================== */

// menu ================================================

.menu {
	background-color: lighten($earlygray, 5%);
	height: 100%;
	max-height: 100%;
	right: 0;
	margin-top: 120px;
	padding: 10px 15px 0;
	position: absolute;
	top: 0;
	min-width: 240px;

	@include bp(xxl) {
		padding: 20px 15px 0;
	}

	&.affixed {
		margin-top: 60px;

		@include height-bp(m) {
			position: absolute;
			height: 100%;
		}
	}

	.fieldset-title, .fieldset-subtitle {
		margin-bottom: 5px;
	}

	.fieldset-subtitle {
		color: $lightgray;
	}

	.fieldset-title {
		color: $spacegray;
	}
}

// customize menu

.customize-menu {

	.control-label {
		text-align: left;
		padding-top: 12px;
		width: 100px;
	}

	.control-group {
		width: 100%;

		@include bp(xxl) {
			width: 100%;
		}
	}

	.control {
		padding: 8px;
	}

	.controls {
		display: inline-block;
		margin-left: 0;
		width: 100px;

		@include bp(l) {
			width: 110px;
		}

		@include bp(xxl) {
			width: 52%;
		}
	}

	.group-switch {
		.control-label {
			padding-top: 3px;
		}
	}

	.group-options {
		.control-label,
		.controls {
			padding-top: 2px;
		}
	}

	.group-style-alignment {
		.btn-group {
			margin-top: 7px;
		}
	}

	.form-actions .controls,
	.form-actions .btn {
		width: 100%;
	}

	.form-actions .controls {
		margin-bottom: 10px;
	}

	.toggle-visibility {
		cursor: pointer;
		padding-top: 10px;

		.icon-eye {
			fill: $red;
		}

		.icon-eye-blocked {
			fill: $lightgray;
		}

		.icon-eye {
			display: block;
		}

		.icon-eye-blocked {
			display: none;
		}

		&.hide {

			.icon-eye {
				display: none;
			}

			.icon-eye-blocked {
				display: block;
			}
		}
	}
}

// publish menu

.publish-menu {

	.control-group {
		margin-bottom: $gutterwidth;
	}

	.control-embed-code {
		color: $spacegray;
		@include font-size($smallerfontsize);
		line-height: 1.35em;
		padding: 8px;
	}

	.btn-clipboard {
		float: right;
		@include font-size($smallerfontsize);
		text-align: left;
	}
}

// masthead steps ================================================

.masthead-steps {
	width: 100%;

	&.affixed {
		top: 0;
		z-index: 999;
	}
}

// metadata ================================================

.metadata {
	@include font-size($smallerfontsize);
	margin: 20px 0 40px 0;
	@include clearfix;

	> * {
		float: left;
	}

	.author {
		border-right: 1px solid $lightgray;
		width: 200px;

		.avatar {
			float: left;
			margin-right: 10px;
		}

		.author-name,
		.date {
			display: block;
		}

		.author-name {
			color: $red;
			font-weight: 700;
		}

		.date {
			color: $lightgray;
		}
	}

	.counter {
		margin: 0 10px;

		.number,
		.label {
			display: block;
			@include font-size($smallerfontsize);
		}

		.number {
			@include font-size(18);
			font-weight: 700;
			line-height: 1em;
		}

		.label {
			color: $lightgray;
			text-transform: uppercase;
		}
	}

	.profiles-list {
		margin-top: 0;
	}
}

// stories list ================================================

.stories-list {
	list-style: none;
	@include zero;
}

// story preview ================================================

.story {
	left: 0;
	top: 0;
	padding: 60px;
	height: 100%;
	max-height: 100%;

	.inner {
		max-width: 1400px;
	}

	// sections

	.content-section {
		margin: 40px 0;
	}

	// section masonry

	.section-masonry {
		@include clearfix;
		clear: both;
	}

	.section-masonry .brick {
		float: left;
		width: 300px;
		margin: 10px;
	}
}

// drag mode

.drag-active {
	border: 4px solid $lightgray;
	cursor: move;
	height: 200px !important;
	overflow: hidden !important;
	position: relative;
	z-index: 999;

	> * {
		@include no-selection;
	}

	&:hover {
		border-color: darken($lightgray, 15%);

		.btn-drag,
		.btn-remove {
			background-color: darken($lightgray, 15%);
		}
	}

	.btn-remove {
		background-color: $lightgray;
		cursor: pointer;
		padding: 2px 3px 5px;
		position: absolute;
		@include rounded(0);
		top: 0;
		right: 0;
		z-index: 1000;

		.icon {
			fill: white;
		}
	}

	// fix image auto-height in the single template
	.template-single  >.brick-media {
		height: 500px;
	}
}


// templates ================================================

.templates {
	right: 0;
	top: 0;
	margin-top: 120px;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	background-color: white;
	height: 100%;
	max-height: 100%;

	&.affixed {
		top: 60px;
	}

	.templates-title {
		color: $lightgray;
		margin: 15px 0 15px 20px;
	}

	.new-template-dropdown {
		display: block;
		@include font-size(14);
		margin: 20px 0 0 20px;
	}
}