/* ==========================================================================
   PAGES
   ========================================================================== */

.page.backend {
	min-width: 768px;
}

.page-dashboard,
.page-profile {
	.masthead {
		height: 80px;
	}
}

.page-customize,
.page-publish,
.page-story {
	background: white;
}

// page story ================================================

.page-story .story {
	margin: 0 auto;
}

.page-story .main {
	padding-top: 68px;
}