
.btn,
a.btn {
	border: 0;
	cursor: pointer;
	display : inline-block;
	*display : inline;
	*zoom : 1;
	@include rounded($inputradius);
	@include transition(all .25s);

	&:focus {
		outline: none;
	}
}

// sizes ================================================

.btn-lg,
a.btn-lg {
	@include font-size($basefontsize);
	line-height: 20px;
	padding: 13px 20px;
}

.btn-lg .btn-icon,
a.btn-lg .btn-icon  {
	width: 16px;
	height: 16px;
}

.btn-sm,
a.btn-sm {
	@include font-size($smallfontsize);
	line-height: 18px;
	padding: 10px 12px 8px;
}

.btn-sm .btn-icon,
a.btn-sm .btn-icon {
	width: 12px;
	height: 12px;
}

.btn-xs,
a.btn-xs {
	@include font-size($smallerfontsize);
	line-height: 12px;
	padding: 6px;
}

// global styles ================================================

.btn-default,
a.btn-default {
	background: $earlygray;
	border: $inputborderwidth $borderstyle $earlygray;
	color: $charcoal;
	font-weight: 700;
	&:hover {
		background: darken($earlygray, 5%);
		border-color: darken($earlygray, 5%);
		color: $black;
	}
}

.btn-primary,
a.btn-primary {
	background: $red;
	border: $inputborderwidth $borderstyle $red;
	color: white;
	font-weight: 700;
	&:hover {
		background: darken($red, 5%);
		border-color: darken($red, 5%);
	}
}

.btn-light,
a.btn-light {
	background: transparent;
	border: $inputborderwidth $borderstyle $lightgray;
	color: $spacegray;
	font-weight: 400;
	&:hover {
		border-color: darken($lightgray, 8%);
	}
}

.btn-link,
a.btn-link {
	background: transparent;
	color: $red;
	font-weight: 400;

	.icon {
		fill: $red;
	}

	&:hover{
		text-decoration: underline;
		
		.icon {
			fill: $darkred;
		}
	}
}

.btn-icon {

	.icon {
		vertical-align: text-top; 
	}

	&.btn-sm,
	&.btn-lg,
	&.btn-xs {
		.icon {
			top: 0; 
		} 
	}

	&.btn-sm,
	&.btn-lg {		
		.icon {
			margin: 0;
		} 
	}
}

// custom styles ================================================

// button add

.btn-add,
a.btn-add {
	background: white;
	color: $red;
	@include font-size($smallerfontsize);
	padding: 12px 0;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	text-align: center;
	@include transition(all .15s ease);
	width: 100%;

	.icon {
		width: 8px;
		height: 8px;
		fill: $red;
		top: 0;
	}

	&:hover {
		background: $red;
		color: white;

		.icon {
			fill: white;
		}
	}
}

// button primary light

.btn-primary.btn-light {
	border-color: $red;
	color: $red;
	font-weight: 700;
	@include transition(background-color .15s linear);

	.icon {
		fill: $red;
	}

	&:hover {
		background-color: $red;
		border-color: $red;
		color: white;

		.icon {
			fill: white;
		}
	}
}

// button close

.btn-close,
a.btn-close {
	.icon {
		fill: $lightgray;
	}
	&:hover .icon {
		fill: white;
	}
}

// button write

.btn-write,
a.btn-write {
	border: none;
	height: 70px;
	padding: 0;
	@include rounded(0);
	text-align: center;
	width: 80px;
	z-index: 1;

	.icon {
		fill: white;
	}
}

.btn-write-link,
a.btn-write-link {
	height: 80px;
	position: absolute;
	right: 0;
	top: 0;
}

a.btn-write .icon {
	margin: 26px;
}

// button open/close animated

.btn-open-close {
	cursor: pointer;
	width: auto;
}

.icon-open-close {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	border: 2px solid $lightgray;
	font-size: 3em;
	border-radius: 50%;
	vertical-align: top;
	position: relative;
	@include transition(0.5s);
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: $lightgray;
    width: 80%;
    height: 6%;;
    left: 10%;
    top: 47%;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: $lightgray;
    width: 10%;
    height: 80%;
    left: 46%;
    top: 10%;
  }
  
  &.open {
  	background-color: $lightgray;

    &:after {
    	background-color: lighten($earlygray, 5%);
    }

    &:before {
    	background-color: lighten($earlygray, 5%);
    }
    @include rotate(225deg);  
  }  
}

// button drag

.btn-drag {
	background-color: $lightgray;
	height: 100%;
	left: 0;
	position: absolute;
	@include rounded(0);
	top: 0;
	z-index: 1000;

	.icon-drag {
		fill: white;
		top: 45%;
	}
}

// button alignment

.alignment-style {
	padding: 5px;

	&:hover {
		background-color: $earlygray;
		@include rounded($inputradius);
	}

	.icon {
		fill: $lightgray;
		top: 2px;
	}
}

.active .alignment-style .icon {
	fill: $red;
}

// dropdown ================================================

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.dropdown {
	position: relative;
}

.dropdown-toggle {
	display: inline-block;
	
	&:focus {
		outline: none;
	}
}

.dropdown-menu {
	background: white;
	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
  	border: $inputborderwidth $borderstyle $earlygray;
	float: left;
	@include font-size($smallfontsize);
	height: 0;
	list-style: none;
	left: 0;
	min-width: 160px;
	margin: 3px 0 0 -2px;
	overflow: hidden;
	padding: 0 !important;
	position: absolute;
	@include rounded($inputradius);
	text-align: left;
	top: 100%;
	opacity: 0;
	width: 0;
	z-index: 1000;
	@include transition(all .25s ease);
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.dropdown-menu > li {
	border-bottom: 1px $borderstyle $earlygray;

	&:last-child {
		border-bottom: none;
	}
}

.dropdown-menu > li > a {
	color: $charcoal;
	display: block;
	line-height: $baselineheight;
	padding: 8px 12px;
	white-space: nowrap;
	@include transition(all .1s ease);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	text-decoration: none;
	background-color: $softgray;;
	color: $black;
}

.open > .dropdown-menu {
	height: auto;
	opacity: 1;
	margin: 3px 0 0 -2px;
	width: auto;
	@include transition(all .25s ease);
}

.open > a {
	outline: 0;
}

.dropdown-menu-right {
	left: auto;
	right: 0;
}

.dropdown-menu-left {
	left: 0;
	right: auto;
}

.dropup .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

// button group ================================================

.button-group {

	&.group-social {
	background: transparent;
	display: inline-block;

		input[type="checkbox"] {
			display: none;
		}

		.icon {
			fill: $lightgray;
			margin: 0 4px;
			top: 2px;
		}

		.btn {
			border: 2px solid darken($earlygray,5%);
			padding: 10px 8px;

			@include no-selection;
			@include transition(all .15s ease-in);

			&:hover {
				background-color: darken($earlygray,5%);
			}

			&.active {

				.icon {
					fill: white;
				}

				&.btn-facebook {
					background: $facebook;
					border-color: $facebook;
				}
				
				&.btn-twitter {
					background: $twitter;
					border-color: $twitter;
				}
				
				&.btn-googleplus {
					background: $googleplus;
					border-color: $googleplus;
				}
				
				&.btn-instagram {
					background: $instagram;
					border-color: $instagram;
				}
				
				&.btn-youtube {
					background: $youtube;
					border-color: $youtube;
				}
				
				&.btn-flickr {
					background: $flickr;
					border-color: $flickr;
				}
			}
		}
	}
}

