.btn {
	border: 0;
	cursor: pointer;
	display : inline-block;
	*display : inline;
	*zoom : 1;
	@include rounded(3px);
	font-weight: 700;
	@include transition(all .15s ease);
}

// sizes

.btn-lg {
	@include font-size($basefontsize);
	line-height: 20px;
	padding: 13px 20px;
}

.btn-lg .btn-icon {
	width: 16px;
	height: 16px;
}

.btn-sm {
	@include font-size($smallfontsize);
	line-height: 18px;
	padding: 8px 12px;
}

.btn-sm .btn-icon {
	width: 12px;
	height: 12px;
}

// styles

.btn-default {
	background: $earlygray;
	border: $inputborderwidth $borderstyle $earlygray;
	&:hover {
		background: darken($earlygray, 5%);
		border-color: darken($earlygray, 5%);
	}
}

.btn-primary {
	background: $red;
	border: $inputborderwidth $borderstyle $red;
	color: white;
	&:hover {
		background: darken($red, 5%);
		border-color: darken($red, 5%);
	}
}

.btn-light {
	background: transparent;
	border: $inputborderwidth $borderstyle $lightgray;
	color: $spacegray;
	font-weight: 400;
	&:hover {
		border-color: darken($lightgray, 8%);
	}
}

.btn-link {
	background: transparent;
	color: $red;
	font-weight: 400;
	.icon {
		fill: $red;
	}
	&:hover{
		text-decoration: underline;
		.icon {
			fill: $darkred;
		}
	}
}

.btn-add {
	background: white;
	color: $red;
	@include font-size($smallerfontsize);
	padding: 12px 0;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	text-align: center;
	@include transition(all .15s ease);
	width: 100%;

	.icon {
		width: 8px;
		height: 8px;
		fill: $red;
		top: 0;
	}

	&:hover {
		background: $red;
		color: white;

		.icon {
			fill: white;
		}
	}
}

// button with icons

.btn-close {
	.icon {
		fill: $lightgray;
	}
	&:hover .icon {
		fill: white;
	}
}

.btn-write {
	border: none;
	height: 70px;
	padding: 0;
	@include rounded(0);
	text-align: center;
	width: 80px;
	z-index: 1;

	.icon {
		fill: white;
	}
}

.btn-write-link {
	height: 80px;
	position: absolute;
	right: 0;
	top: 0;
}

a.btn-write .icon {
	margin: 26px;
}

// dropdown

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.dropdown {
	position: relative;
}

.dropdown-toggle {
	display: inline-block;
}

.dropdown-menu {
	background: white;
	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
  	border: $inputborderwidth $borderstyle $earlygray;
	float: left;
	@include font-size($smallfontsize);
	height: 0;
	list-style: none;
	left: 0;
	min-width: 160px;
	margin: 3px 0 0 -2px;
	overflow: hidden;
	padding: 0 !important;
	position: absolute;
	@include rounded(3px);
	text-align: left;
	top: 100%;
	opacity: 0;
	width: 0;
	z-index: 1000;
	@include transition(all .15s ease);
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.dropdown-menu > li {
	border-bottom: 1px $borderstyle $earlygray;

	&:last-child {
		border-bottom: none;
	}
}

.dropdown-menu > li > a {
	color: $charcoal;
	display: block;
	line-height: $baselineheight;
	padding: 8px 12px;
	white-space: nowrap;
	@include transition(all .1s ease);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	text-decoration: none;
	background-color: $softgray;;
	color: $black;
}

.open > .dropdown-menu {
	height: auto;
	opacity: 1;
	margin: 3px 0 0 -2px;
	width: auto;
	@include transition(all .25s ease);
}

.open > a {
	outline: 0;
}

.dropdown-menu-right {
	left: auto;
	right: 0;
}

.dropdown-menu-left {
	left: 0;
	right: auto;
}