textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	border: $inputborderwidth $borderstyle $earlygray;
	color : inherit;
	display : inline-block;
	font-family: $basefontfamily;
	margin-bottom : $baselineheight / 2;
	@include rounded($defaultradius);
	vertical-align : middle;
	@include transition(all .15s ease-in-out);

	&:hover {
		border-color: darken($earlygray, 8%);
	} 
	
	&:focus {
		border-color: rgb(74, 144, 226);
		outline: 0;
	} 
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	margin : 4px 0 0;
	*margin-top : 0; 
	margin-top : 1px \ 9; 
	line-height : normal;
}

input[type="file"] {
	cursor: pointer;
	height: 150px;
	left: 0;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}

input,
textarea {
	@include border-box;
	width : 100%;
}

select {
	background-image: none;
	-webkit-appearance: none;
   	-moz-appearance: none;
    appearance: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select[multiple],
select[size] {
	height : auto; 
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

// disabled

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	opacity : .25; 
}

// placeholder

[placeholder]:focus::-webkit-input-placeholder {
	opacity : 0;
	transition : opacity .15s .15s ease; 
}

// validation states

.has-success {
	& .control,
	& .control:hover,
	& .control:focus {
		border-color: green;
	}
}

.has-error {
	& .control,
	& .control:hover,
	& .control:focus {
		border-color: red;
	}
}

// form controls

.control-group {
	margin-bottom: $gutterwidth / 3;
	@include clearfix; 

	input,
	textarea,
	select,
	.custom-select-style {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin-bottom: 0;
		vertical-align: middle; 
	}
}	

// control sizes

.control-lg {
	padding : 13px 10px;
	@include font-size($basefontsize);
	line-height : 20px;
}

.control-sm {
	padding : 10px 8px;
	@include font-size($smallfontsize);
	line-height : 18px;
}

.control-group-lg {
	.control-label {
		@include font-size($basefontsize);
	}
	
	.control {
		padding : 13px 10px;
		@include font-size($basefontsize);
		line-height : 20px;
	}
}

.control-group-sm {
	.control-label, .checkbox {
		@include font-size($smallfontsize);
	}

	.control-label {
		padding-top: 10px;
	}
	
	.control {
		padding : 10px 8px;
		@include font-size($smallfontsize);
		line-height : 18px;
	}
}

// radio & checkbox

.radio,
.checkbox {
	min-height : $baselineheight;
	@include font-size($basefontsize); 
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	float : left;
	margin-right : $gutterwidth / 2;
	width: auto; 
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
	padding-top : 5px; 
}

.radio.inline,
.checkbox.inline {
	display : inline-block;
	padding-top : 5px;
	margin-bottom : 0;
	vertical-align : middle; 
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
	margin-left : $gutterwidth / 2; 
}

.radio label, 
.checkbox label {
	cursor: pointer;
	font-weight: 400;
	@include font-size(12);
	line-height: 18px;
	min-height: 20px;
	margin-bottom: 0;
	padding-left: 0;
}

// custom select style

.custom-select-style {
	background: white;
	border: $inputborderwidth $borderstyle $earlygray;
	line-height : 20px;
	margin-bottom : $baselineheight / 2;
	overflow: hidden;
	position: relative;
	width: 200px;
	@include rounded($defaultradius);

	&:hover {
		border-color: darken($earlygray, 8%);
	} 

	&:active {
		border: $inputborderwidth $borderstyle rgb(74, 144, 226);
	}

	& select {
		background: transparent;
		border: none;
		margin-bottom : 0;
		padding : 13px 10px;
		position: relative;
		width: 130%;
		z-index: 1;

		&:active,
		&:focus {
			outline: 0;
			outline : thin dotted \ 9;
		}
	}

	.icon {
		position: absolute;
		right: 10px;
		top: 15px;
		z-index: 0;
	}
}

// custom radio

div:not(#foo) > input[type='radio'] {
	display: none;
    opacity: 0;
    float: left;
    width: 0;
}

div:not(#foo) > input[type='radio'] + .gender-radio {
    margin: 0 -4px 0 0;
    clear: none;
    padding: 12px 20px;
    cursor: pointer;
    background: white;
    border: $inputborderwidth $borderstyle $earlygray;
    color: $textcolor;
    font-weight: 400;
    text-align: center;
    @include transition(all .15s ease-in-out);
    width: 49%;

    @include bp(l) {
    }
}

div:not(#foo) > input[type='radio'] + .gender-radio {
    border-top-right-radius: $defaultradius;
	border-bottom-right-radius: $defaultradius;
    border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

div:not(#foo) > input[type='radio']:first-child + .gender-radio {
    border-top-left-radius: $defaultradius;
	border-bottom-left-radius: $defaultradius;
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

div:not(#foo) > input[type='radio']:checked + .gender-radio {
    /*background-image: url(radio.png);*/
    border-color: $black;
    color: $black;
}

// label switch

.bootstrap-switch {
	border: 2px solid darken($earlygray, 10%);
	margin: 5px 0 0 5px;
	height: 40px;

	.bootstrap-switch-handle-on,
	.bootstrap-switch-handle-off,
	.bootstrap-switch-label {
		height: 40px;
	}

	.bootstrap-switch-handle-on {
		background: $earlygray;
	}
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch {
	background: #F3F1F0;
	color: $charcoal;
}

.bootstrap-switch .bootstrap-switch-label {
	width: 40px !important;
}
// toggle ios switch

.ios-ui-select{
	background: $earlygray;
	border: none !important;
	cursor: pointer;
	display: inline-block;
	height: 26px;
	position: relative;
	@include rounded(18px);
	width: 50px;
	@include transition(all .3s ease);
}

.ios-ui-select.checked{
	background-color: $red;
}

.ios-ui-select.checked .inner{
	left: 26px;
}

.ios-ui-select .inner{
	background: white;
	height: 22px;
	left: 2px;
	width: 22px;
	position: absolute;
	@include rounded(100%);
	top: 2px;
	-webkit-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	-moz-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	-o-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
}

// textarea advanced controls

.textarea-controls {
	background: $black;
	background-image: -o-linear-gradient(-89deg, rgba(149,133,130,0.50) 0%, rgba(92,81,80,0.50) 100%);
	background-image: -moz-linear-gradient(-89deg, rgba(149,133,130,0.50) 0%, rgba(92,81,80,0.50) 100%);
	background-image: -ms-linear-gradient(-89deg, rgba(149,133,130,0.50) 0%, rgba(92,81,80,0.50) 100%);
	background-image: linear-gradient(-179deg, rgba(149,133,130,0.50) 0%, rgba(92,81,80,0.50) 100%);
	height: 40px;
	@include rounded(3px);

	ul {
		@include clearfix;
		@include nobullet;
		padding: 8px 10px;
	}

	li {
		float: left;
		margin: 0 10px;
		text-align: center;

		&:hover {
			cursor: pointer;
		}
	}

	.icon  {
		height: 16px;
	}

	.icon .shape {
		fill: rgba(255,255,255,.5);
	}

	.icon:hover .shape {
		fill: rgba(255,255,255,1);
	} 
}

// control light

input[type="text"].control-light {
	border: none;
	display: block;
	margin-bottom: $gutterwidth / 3;
	padding: 0;
	width: auto;

	&:focus {
		width: 100%;
	}

	&.control-lg {
		font-family: KlavikaWebBasicBold;
		@include font-size(48);
		line-height: 1.5em;
	}

	&.control-sm {
		line-height: 1.5em;
		@include font-size(24);
	}
}

// insert text 

.insert-text {
	border: 2px dashed $lightgray;
	cursor: pointer;
	margin: 40px 0;
	@include rounded(6px);
	padding: 10px 8px;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;

	&:hover {
		border-color: darken($lightgray, 15%);
	}

	&.active {
		border: none;
		padding-right: 0;
		padding-left: 0;
	}
}

// form actions

.form-actions {

	&.actions-stacked {
		background-color: lighten($earlygray, 8%);
		border-top: 1px solid $earlygray;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		padding: 30px;

		.controls {
			float: right;
		}
	}
}